/** ABOUT US **/
#aboutus .allcards {
    display: flex;
    padding-top: 130px;
    width: 1128px;
    gap: 24px;
}

#aboutus .allcards h3 {
    font-family: 'PP Telegraf';
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 17px;
    letter-spacing: .5px;
    color: #fff !important;
}

#aboutus .allcards p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #DADADA;
    margin: 0;
}

#aboutus .cardX {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #fff !important;
    border-radius: 10px;
    background-color: unset !important;
    transition: all .2s ease-in-out;
}

#aboutus .cardX:before {
    border-radius: 10px;
}

#aboutus .cardX:hover,
#aboutus .cardX:active {
    border-radius: 10px;
}

#aboutus .card-image {
    transform: translateY(-60px) !important;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: all .2s ease-in-out;
}

#aboutus .card-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px;
    background: linear-gradient(130deg,
            #ffffff80 0%,
            #22222200 40%,
            #22222200 60%,
            #ffffff24 100%);
    border-radius: 50%;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 3;
}

#aboutus .card-image .style-fill {
    border-radius: 50%;
}

#aboutus .cardX:hover .card-image,
#aboutus .cardX:active .card-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 50px);
}

#aboutus .card-image img {
    width: 55px;
    z-index: 4;
}

#aboutus .card-body {
    padding: 85px 45px 82px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center !important;
    z-index: 2;
}

#aboutus .style-content:hover .card-image:before,
#aboutus .style-content:active .card-image:before {
    background: linear-gradient(130deg,
            #ffffffed 0%,
            #22222200 30%,
            #22222200 60%,
            #ffffff80 100%);
    z-index: 3;
}