/** INVESTORS **/
#investors-brands .brands-container {
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 48px 40px;
    transition: all .2s ease-in-out;
}

#investors-brands .style-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #fff !important;
    border-radius: 13.5px;
    justify-content: center;
    padding: 0px;
    gap: 6.3px;
    width: 126px;
    height: 126px;
    left: 14px;
    top: 0px;
    backdrop-filter: blur(10px);
    transition: all .2s ease-in-out;
}

#investors-brands .style-content img {
    z-index: 1111;
    width: 96px;
    max-height: 77px;
    transition: all .2s ease-in-out;
}

#investors-brands .style-content:before {
    border-radius: 13.5px;
    z-index: 11111111;
    cursor: pointer;
    background: linear-gradient(140deg,
            #ffffff80 0%,
            #22222200 36%,
            #22222200 60%,
            #ffffff24 100%);
    transition: all .2s ease-in-out;
}

#investors-brands .style-content:hover:before {
    background: linear-gradient(140deg,
            #ffffffed 0%,
            #22222200 36%,
            #22222200 60%,
            #ffffff80 100%);
}

#investors-brands .style-content:hover,
#investors-brands .style-content:active {
    border-radius: 13.5px;
    transition: all .2s ease-in-out;
}

#investors-brands .brands-container a {
    border-radius: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

#investors-brands .style-fill {
    border-radius: 13.5px;
}