main {
    width: 100vw;
}

/** CONTACT **/

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 150px;
    padding: 64px 0;
    background-color: #fff;
}



#contact .swiper-container {
    margin: 0 auto;
    transition: max-width 0.5s ease-in-out;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 857px;
}

#contact .swiper-container .selector-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 498px;
    height: 60px;
    border-radius: 50px;
}

#contact .swiper-container .selector-container:before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px;
    width: 498px;
    height: 60px;
    font-family: 'Satoshi', sans-serif;
    background: linear-gradient(130deg,
            #222222ff 0%,
            #22222225 60%,
            #22222200 100%);
    border-radius: 50px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 0;
}

/* #contact .swiper {
    width: 100%;
    height: 100%;
} */

#contact .swiper.mySwiper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0;
    gap: 64px;
    width: 100%;
}

#contact .swiper-container .selector-container .selector {
    position: absolute;
    display: inline-block;
    border-radius: 500px;
    margin: 10px;
}

#contact .swiper-container .selector-container .selector .go-to-slide {
    width: 235px;
    height: 40px;
    text-decoration: none !important;
    color: #222;
    opacity: 0.5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    user-select: none;
    pointer-events: unset;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#contact .swiper-container .selector-container .selector .go-to-slide:hover {
    opacity: 1;
}

#contact .swiper-container .selector-container .selector .go-to-slide.active {
    color: #fff;
    opacity: 1;
    pointer-events: none;
}

#contact .swiper-container .selector-container .selector .highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    background-color: #222;
    border-radius: 50px;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 0;
}

#contact .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 100%;

}

#contact .swiper-slide {
    padding: 0px;
    gap: 131px;
    text-align: left;
}

#contact .swiper-slide form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 100%;
}

#contact .swiper-slide form .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 100%;
}

#contact .swiper-slide form .form-inputs h4 {
    padding-left: 12px;
    font-family: 'PP Telegraf';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 130%;
    color: #222;
    margin: 0;
}

#contact .swiper-slide form .form-inputs .row-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0 12px;
    gap: 24px;
    width: 100%;
    margin-bottom: 14px;
}

#contact .swiper-slide form .form-inputs .column-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: calc(50% - 24px);
}

#contact .swiper-slide form .form-inputs .column-input label {
    height: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #222;
}

#contact .swiper-slide form .form-inputs .column-input label span {
    font-size: 12px;
}

#contact .swiper-slide form .form-inputs .column-input input,
#contact .swiper-slide form .form-inputs .column-input textarea {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid #222;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 0 14px !important;
    font-size: 14px;
}

#contact .swiper-slide form .form-inputs .column-input textarea {
    height: 80px;
}

#contact .swiper-slide form .form-inputs .column-input input:focus,
#contact .swiper-slide form .form-inputs .column-input textarea:focus {
    box-shadow: 0 0 12px #222222aa;
    transition: all .3s ease-in-out;
}

#contact .swiper-slide form input[type="submit"] {
    width: 150px;
    height: 40px;
    margin: 22px auto 0;
    background: #222;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #FFFFFF;
    border: unset !important;
    cursor: pointer !important;
    transition: all .2s ease-in-out;
}

#contact .swiper-slide form input[type="submit"]:hover {
    box-shadow: 0 0 22px #222222aa;
}


#contact .drag-drop-area {
    width: 100%;
    height: 80px;
    border: none !important;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #222;
    display: flex;
    transition: background-color 0.2s ease;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    border-radius: 5px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23222' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='7' stroke-linecap='round'/%3e%3c/svg%3e");
    transition: all .2s ease-in-out;
}

#contact .drag-drop-area:hover {
    box-shadow: 0 0 22px #22222233;
}

#contact .drag-drop-area.drag-over {
    background-color: #222;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23fff' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='7' stroke-linecap='round'/%3e%3c/svg%3e");
    color: #fff;
}

#contact .drag-drop-area p {
    margin: 0 0 0 -24px;
}

#contact .drag-drop-area img {
    position: absolute;
    margin-left: 8px;
    margin-top: 2px;
}

#contact #footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    gap: 16px;
}

#contact #footer img {
    width: 166.73px;
}

#contact #footer p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #222;
    margin: 0;
}