.swiper-container {
    margin: 0 auto;
    width: fit-content;
    max-width: 1150px;
    transition: max-width 0.5s ease-in-out;
    box-sizing: border-box;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 15px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 833px;
}

.swiper-container .selector-container {
    display: flex;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.swiper-container .selector-container .selector {
    position: relative;
    display: inline-block;
    background: linear-gradient(95.75deg, rgba(132, 39, 210, 0.1) 0%, rgba(64, 97, 226, 0.1) 50%, rgba(46, 161, 249, 0.1) 100%);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 500px;
    margin: 20px;
}

.swiper-container .selector-container .selector .go-to-slide {
    width: 206px;
    height: 40px;
    text-decoration: none !important;
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #414141;
    opacity: 0.5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    user-select: none;
    transition: 0.2s ease-in-out;
    pointer-events: unset;
}

.swiper-container .selector-container .selector .go-to-slide:hover {
    font-weight: 700;
}

.swiper-container .selector-container .selector .go-to-slide.active {
    color: #fff;
    opacity: 1;
    font-weight: 700;
    pointer-events: none;
}

.swiper-container .selector-container .selector .highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(95.75deg, #8427D2 0%, #4061E2 50%, #2EA1F9 100%);
    box-shadow: 0 0 20px rgba(0, 38, 190, 0.3);
    border-radius: 50px;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 0;
}

.swiper-wrapper {
    margin-bottom: 35px;
}

main {
    width: 100vw
}


h3 {
    color: #fff;

}