/* STYLES */

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

h3 {
    color: #fff !important;
}

.style-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.25px;
    background: linear-gradient(130deg,
            #ffffff80 0%,
            #22222200 30%,
            #22222200 60%,
            #ffffff24 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 2;
}

.style-content:hover,
.style-content:active {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.style-content:hover:before,
.style-content:active:before {
    background: linear-gradient(130deg,
            #ffffffed 0%,
            #22222200 30%,
            #22222200 60%,
            #ffffff80 100%);
    z-index: 5;
}

.style-fill {
    position: absolute;
    background: linear-gradient(284.59deg,
            #ffffff0d 0%,
            #11111100 100%);
    opacity: 1 !important;
    background-color: #111 !important;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.style-fill.style-hover {
    background: linear-gradient(284.59deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0) 100%);
    opacity: 0 !important;
    z-index: 1;
    transition: all .35s ease-in-out;
}

.style-content:hover .style-fill {
    opacity: 0;
}

.style-content:hover .style-fill.style-hover {
    opacity: 1 !important;
}

.style-content:hover .style-fill.style-hover.bs {
    box-shadow: 0 0 22px #ffffff55;
}


/** INTRO **/

#intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#intro .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
#intro .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;
} */

#intro .text-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#intro .text-content p.lead {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #fff;
}

#intro .text-content h1 {
    font-family: 'PP Telegraf';
    font-weight: bold;
    font-size: 70px;
    line-height: 96px;
    text-align: center;
    color: #fff;
    margin-bottom: 0 !important;
}

#intro .text-content p {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 0 !important;
}

#intro .bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: 33.33333%;
    background-repeat: no-repeat;
}

#intro .bg1 {
    background-image: url('../img/intro-bg1.png');
    background-position: right top;
}

#intro .bg2 {
    background-image: url('../img/intro-bg2.png');
    background-position: left 110%;
}


/** ABOUT US **/
#aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

#aboutus .aboutus-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 842px;
}

#aboutus .aboutus-content .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
}

#aboutus .aboutus-content h1 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 60px;
    line-height: 82px;
    text-align: center;
    margin: 0;
    color: #fff;
}

#aboutus .aboutus-content .text-content .sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

#aboutus .aboutus-content h3 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    margin: 0;
    color: #fff;
}

#aboutus .aboutus-content p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    margin: 0;
    color: #fff;
}

#aboutus .allcards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 1128px;
}

#aboutus .allcards h3 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 108px;
    text-align: center;
    color: #fff;
}

#aboutus .allcards-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 100%;
}

#aboutus .allcards-content h3 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    margin: 0 0 17px;
    letter-spacing: .5px;
    color: #fff !important;
    text-align: center;
}

#aboutus .allcards-content p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #DADADA;
    margin: 0;
}

#aboutus .cardX {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #fff !important;
    border-radius: 10px;
    background-color: unset !important;
    transition: all .2s ease-in-out;
}

#aboutus .cardX:before {
    border-radius: 10px;
}

#aboutus .cardX:hover,
#aboutus .cardX:active {
    border-radius: 10px;
}

#aboutus .card-image {
    transform: translateY(-60px) !important;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: all .2s ease-in-out;
}

#aboutus .card-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px;
    background: linear-gradient(130deg,
            #ffffff80 0%,
            #22222200 40%,
            #22222200 60%,
            #ffffff24 100%);
    border-radius: 50%;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 3;
}

#aboutus .card-image .style-fill {
    border-radius: 50%;
}

#aboutus .cardX:hover .card-image,
#aboutus .cardX:active .card-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 50px);
}

#aboutus .card-image img {
    width: 55px;
    z-index: 4;
}

#aboutus .card-body {
    padding: 85px 45px 82px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center !important;
    z-index: 2;
}

#aboutus .style-content:hover .card-image:before,
#aboutus .style-content:active .card-image:before {
    background: linear-gradient(130deg,
            #ffffffed 0%,
            #22222200 30%,
            #22222200 60%,
            #ffffff80 100%);
    z-index: 3;
}

/*** circle ***/

#brands {
    margin-bottom: 200px;
}

#brands .circles {
    z-index: 1;
}

.circles .parallaxx {
    z-index: 11;
    pointer-events: unset !important;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.parallax-layer>.circle-div {
    display: block;
}

.circle-div {
    width: 785.5px;
    height: 785.5px;
    border-radius: 50%;
    background: linear-gradient(284.59deg,
            rgba(255, 255, 255, 0.06) 15%,
            rgba(17, 17, 17, 0) 100%);
    position: relative;
    backdrop-filter: blur(10px);
}

.circle-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: linear-gradient(130deg,
            rgba(255, 255, 255, 0.95) 0%,
            #22222200 40%, #22222200 60%,
            rgba(255, 255, 255, 0.3) 100%);
    mask:
        radial-gradient(circle,
            transparent 70.2%,
            black 71%);
    -webkit-mask:
        radial-gradient(circle,
            transparent 70.2%,
            black 71%);
    pointer-events: none;
}

.parallax-layer.circle1 .circle-div {
    width: 1050.348px;
    height: 1050.348px;
}

.parallax-layer.circle2 .circle-div {
    width: 913.9px;
    height: 913.9px;
}

.parallax-layer.circle3 .circle-div {
    width: 747.73px;
    height: 747.73px;
}

.parallax-layer.circle4 .circle-div {
    width: 581.57px;
    height: 581.57px;
}

.parallax-layer.circle5 .circle-div {
    width: 415.41px;
    height: 415.41px;
}

.parallax-layer.circle6 .circle-div {
    width: 249.24px;
    height: 249.24px;
}

.parallax-layer .iso {
    width: 172.22px;
    height: 172.22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-layer .iso a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-layer .iso a>* {
    transition: all .75s ease-in-out;
}

.parallax-layer .iso a p {
    position: absolute;
    margin: 0 !important;
    font-family: 'PP Telegraf';
    font-weight: 800;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0;
    transform: scale(.9);
}

.parallax-layer .iso a:hover p {
    opacity: 1;
    transform: scale(1);
}

.parallax-layer .iso a:hover img {
    filter: blur(25px) drop-shadow(0 0 25px #fff);
}

.parallax-layer.brand .base {
    position: absolute;
    width: 104.69px;
    height: 104.69px;
    left: 0%;
    top: 0%;
    background: linear-gradient(284.59deg,
            rgba(255, 255, 255, 0.06) 0%,
            rgba(17, 17, 17, 0) 100%);
    backdrop-filter: blur(20.3927px);
    border-radius: 8.1571px;
}

.parallax-layer.brand .square {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8.1571px;
    background: url(../../assets/img/brands/brand.png);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.parallax-layer.brand .square img {
    max-height: 88%;
    width: 100%;
}

.parallax-layer.brand .square img.w90 {
    width: 90%;
}

.parallax-layer.brand .square img.w80 {
    width: 80%;
}


/** TEAM **/
#team {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin-bottom: 200px;
}

#team h1 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 60px;
    line-height: 82px;
    color: #fff;
    margin: 0;
}

#team .team-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 128px;
    justify-content: center;
}


#team .team-frame {
    gap: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team .style-content:before,
#team .team-img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#team .team-img:hover:before,
#team .team-img:active:before {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#team .team-img img {
    position: absolute;
    width: 225px;
    height: 225px;
    z-index: 5;
    transition: all .3s ease-in-out;
}

#team .team-img:hover img {
    transform: scale(1.066666);
}


#team .style-fill {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#team .team-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    color: #FFFFFF;
    width: 187px;
    height: 82px;
    text-align: center !important;
}

#team .team-txt>* {
    font-family: 'PP Telegraf';
    margin: 0;
    text-align: center;
}

#team .team-txt h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

#team .team-txt p {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}

/** KEY **/


/* Key Investments */
#key-investments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin-bottom: 200px;
    transition: all .2s ease-in-out;
}

#key-investments h1 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 60px;
    line-height: 82px;
    color: #fff;
    margin: 0;
}

#key-investments .key-content {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 1127px;
    transition: all .2s ease-in-out;
}

#key-investments .nav-tabs .nav-link.active,
#key-investments .nav-tabs .nav-item.show .nav-link {
    background-color: unset;
}

#key-investments .style-content:hover .style-fill.style-hover {
    box-shadow: unset !important;
    opacity: 1 !important;
}


#key-investments .nav {
    width: 288px;
    margin-bottom: 0;
    gap: 24px;
    z-index: 1111;
    transition: all .2s ease-in-out;
}

#key-investments li.nav-item {
    width: 269px;
    height: 80px;
    margin-right: 27px;
    margin-bottom: 0;
    padding-right: 0;
    padding: 0;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

#key-investments li.nav-item:before {
    width: 269px;
    height: 80px;
    border-radius: 10px;
    z-index: 111;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
}

#key-investments li.nav-item .nav-link .back-fill {
    position: absolute;
    width: 269px;
    height: 80px;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .2s ease-in-out;
}

#key-investments .nav-tabs .nav-link {
    padding: 0;
    backdrop-filter: blur(0);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

#key-investments .nav-tabs .nav-link:before {
    border-radius: 10px;
    transition: all .2s ease-in-out;
}


#key-investments .nav-tabs .nav-link img {
    width: 100%;
    max-width: 154px;
    max-height: 60px;
    opacity: 0.5;
    z-index: 11;
    transition: all .2s ease-in-out;
}

#key-investments li.nav-item .nav-link.active:before {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    background: linear-gradient(130deg,
            #ffffff00 0%,
            #22222200 30%,
            #22222200 60%,
            #ffffff00 100%);
    transition: all .2s ease-in-out;

}

#key-investments li:hover .nav-link img,
#key-investments li.nav-item .nav-link.active img {
    opacity: 1;
    transition: all .2s ease-in-out;
    pointer-events: none;
}

#key-investments li.nav-item .nav-link.active {
    margin-right: 0;
    padding-right: 27px;
    position: relative;
    width: 300px;
    height: 80px;
    z-index: 11;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    pointer-events: none;
}

#key-investments li.nav-item .nav-link.active .style-fill {
    width: 300px;
    opacity: 0 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: unset;
    pointer-events: none;
    background: unset;
}

#key-investments li.nav-item .nav-link.active .back-fill.style-fill,
#key-investments li.nav-item .nav-link.active .back-fill.style-fill.style-hover {
    background: linear-gradient(90deg,
            rgba(17, 17, 17, 1) 96%,
            rgba(17, 17, 17, 0) 100%) !important;
    background-color: unset !important;
    opacity: 1 !important;
    z-index: -11111111;
}

#key-investments .box-shadow-all {
    width: 1127px;
    height: 600px;
    position: absolute;
}

#key-investments .box-shadow-container {
    width: 288px;
    height: 600px;
    position: absolute;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 0;
}

#key-investments .box-shadow-container .box-shadow {
    width: 300px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 22px #ffffff55;
    opacity: 0;
    transition: all .2s ease-in-out;
}

#key-investments .box-shadow-container .box-shadow.active {
    opacity: 1;
    transition: all 1.25s ease-in-out;
}

#key-investments .tab-content {
    width: 839px;
    height: 600px;
    z-index: 111;
    pointer-events: none;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

#key-investments .tab-content .style-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#key-investments .tab-content .style-content:before {
    border-radius: 10px;
    background: linear-gradient(130deg,
            #ffffff00 0%, #22222200 30%,
            #22222200 60%,
            #ffffff80 100%);
}

#key-investments .tab-content>.tab-pane {
    position: absolute;
    width: 839px;
    height: 600px;
    transition: all .2s ease-in-out;
}

#key-investments .tab-content>.tab-pane.active {
    width: 839px;
    height: 600px;
    padding: 100px;
}

#key-investments .tab-content>.tab-pane .back-fill.style-fill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(284.59deg, #ffffff0d 0%, #11111100 85%);
    box-shadow: 0 0 22px #ffffff55;
    pointer-events: none;
}

#key-investments .tab-content>.tab-pane .back-fill {
    padding: 0px;
    gap: 16px;
    color: #fff;
}

#key-investments .tab-content>.tab-pane .back-fill h3 {
    width: 533px;
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 0;
    color: #fff;
}

#key-investments .tab-content>.tab-pane .back-fill p {
    width: 533px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    margin-bottom: 7px;
    color: #fff;
}

#key-investments .tab-content>.tab-pane .back-fill-image {
    background-image: url('../img/iso.svg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: 464px;
    background-position: right -70px bottom -140px;
    opacity: .05;
}

/** INVESTORS **/
#investors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin-bottom: 200px;
    transition: all .2s ease-in-out;
}

#investors h1 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 60px;
    line-height: 82px;
    color: #fff;
    margin: 0;
}

#investors .investors-container {
    max-width: 1118.21px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 64px 48px;
    transition: all .2s ease-in-out;
}

#investors .style-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #fff !important;
    border-radius: 19.4px;
    justify-content: center;
    transition: all .2s ease-in-out;
}


#investors .style-content img {
    z-index: 1111;
    width: 80%;
    max-height: 65%;
    transition: all .2s ease-in-out;
}

#investors .style-content:before {
    border-radius: 19.4px;
    z-index: 11111111;
    cursor: pointer;
    background: linear-gradient(160deg,
            #ffffff80 0%,
            #22222200 33%,
            #22222200 60%,
            #ffffff24 100%);
    transition: all .2s ease-in-out;
}

#investors .style-content:hover:before {
    background: linear-gradient(160deg,
            #ffffffed 0%,
            #22222200 33%,
            #22222200 60%,
            #ffffff80 100%);
}

#investors .style-content:hover,
#investors .style-content:active {
    border-radius: 19.4px;
    transition: all .2s ease-in-out;
}

#investors .investors-container a {
    width: 340.74px;
    height: 129.31px;
    border-radius: 19.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

#investors .style-fill {
    border-radius: 19.4px;
}

/** CONTACT **/
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
    padding: 64px 0;
    background-color: #fff;
    margin-bottom: 86px;
}

#contact .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

#contact .text-content h2 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #222;
    margin: 0;
}

#contact .text-content p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #222;
    margin: 0;
}

#contact .swiper-container {
    margin: 0 auto;
    transition: max-width 0.5s ease-in-out;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 857px;
}

#contact .swiper-container .selector-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 498px;
    height: 60px;
    border-radius: 50px;
}

#contact .swiper-container .selector-container:before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px;
    width: 498px;
    height: 60px;
    font-family: 'Satoshi', sans-serif;
    background: linear-gradient(130deg,
            #222222ff 0%,
            #22222225 60%,
            #22222200 100%);
    border-radius: 50px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 0;
}

/* #contact .swiper {
    width: 100%;
    height: 100%;
} */

#contact .swiper.mySwiper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0;
    gap: 64px;
    width: 100%;
}

#contact .swiper-container .selector-container .selector {
    position: absolute;
    display: inline-block;
    border-radius: 500px;
    margin: 10px;
}

#contact .swiper-container .selector-container .selector .go-to-slide {
    width: 235px;
    height: 40px;
    text-decoration: none !important;
    color: #222;
    opacity: 0.5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    user-select: none;
    pointer-events: unset;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#contact .swiper-container .selector-container .selector .go-to-slide:hover {
    opacity: 1;
}

#contact .swiper-container .selector-container .selector .go-to-slide.active {
    color: #fff;
    opacity: 1;
    pointer-events: none;
}

#contact .swiper-container .selector-container .selector .highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    background-color: #222;
    border-radius: 50px;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 0;
}

#contact .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 100%;

}

#contact .swiper-slide {
    padding: 0px;
    gap: 131px;
    text-align: left;
}

#contact .swiper-slide form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 100%;
}

#contact .swiper-slide form .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 100%;
}

#contact .swiper-slide form .form-inputs h4 {
    padding-left: 12px;
    font-family: 'PP Telegraf';
    font-weight: 800;
    font-size: 18px;
    line-height: 130%;
    color: #222;
    margin: 0;
}

#contact .swiper-slide form .form-inputs .row-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0 12px;
    gap: 24px;
    width: 100%;
    margin-bottom: 14px;
}

#contact .swiper-slide form .form-inputs .column-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: calc(50% - 24px);
}

#contact .swiper-slide form .form-inputs .column-input label {
    height: 21px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #222;
}

#contact .swiper-slide form .form-inputs .column-input label span {
    font-size: 12px;
}

#contact .swiper-slide form .form-inputs .column-input input,
#contact .swiper-slide form .form-inputs .column-input textarea {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid #222;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 0 14px !important;
    font-size: 14px;
}

#contact .swiper-slide form .form-inputs .column-input textarea {
    height: 80px;
}

#contact .swiper-slide form .form-inputs .column-input input:focus,
#contact .swiper-slide form .form-inputs .column-input textarea:focus {
    box-shadow: 0 0 12px #222222aa;
    transition: all .3s ease-in-out;
}

#contact .swiper-slide form input[type="submit"] {
    width: 150px;
    height: 40px;
    margin: 22px auto 0;
    background: #222;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #FFFFFF;
    border: unset !important;
    cursor: pointer !important;
    transition: all .2s ease-in-out;
}

#contact .swiper-slide form input[type="submit"]:hover {
    box-shadow: 0 0 22px #222222aa;
}


#contact .drag-drop-area {
    width: 100%;
    height: 80px;
    border: none !important;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #222;
    display: flex;
    transition: background-color 0.2s ease;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    border-radius: 5px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23222' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='7' stroke-linecap='round'/%3e%3c/svg%3e");
    transition: all .2s ease-in-out;
}

#contact .drag-drop-area:hover {
    box-shadow: 0 0 22px #22222233;
}

#contact .drag-drop-area.drag-over {
    background-color: #222;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23fff' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='7' stroke-linecap='round'/%3e%3c/svg%3e");
    color: #fff;
}

#contact .drag-drop-area p {
    margin: 0 0 0 -24px;
}

#contact .drag-drop-area img {
    position: absolute;
    margin-left: 8px;
    margin-top: 2px;
}

#contact #footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    margin-top: 86px;
    gap: 16px;
}

#contact #footer img {
    width: 166.73px;
}

#contact #footer p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #222;
    margin: 0;
}