@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

.mb-200 {
    margin-bottom: 200px !important;
}

.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

main {
    background: linear-gradient(180deg, #222 0%, #000 70.88%), #fff;
}

header {
    height: 61px;
    background: linear-gradient(284.59deg, rgba(255, 255, 255, 0.1) 0%, rgba(17, 17, 17, 0) 100%);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(18.0481px);
}

.navbar.navbar-stuck {
    z-index: 111111111;
    background-color: unset;
}

header .navbar-brand {
    position: absolute;
    width: 116.74px;
    left: 72.75px;
}

header .navbar-brand img {
    width: 100%;
}

header #navbarNav {
    align-items: center;
}

.offcanvas-body {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    padding: 0px !important;
    /* gap: 325px; */
    /* width: 708px; */
    /* height: 40px; */
}

header #navbarNav .offcanvas-body ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 24px;
    /* width: 708px; */
    margin: 0 auto;
    height: 40px;
}

header #navbarNav .offcanvas-body ul li a {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    transition: all .2s ease-in-out;
}

header #navbarNav .offcanvas-body ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding: 1px;
    background: linear-gradient(130deg, #dedede 0%, #dedede25 60%, #dedede00 100%);
    border-radius: 50px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 111;
    transform: scale(.95);
    transition: all .2s ease-in-out;
}

header #navbarNav .offcanvas-body ul li a:hover:before,
header #navbarNav .offcanvas-body ul li a:focus:before,
header #navbarNav .offcanvas-body ul li a:active {
    opacity: 1;
    transform: scale(1);
    transition: all .2s ease-in-out;
}