@font-face {
    font-family: 'PP Telegraf';
    src: url('PPTelegraf-Regular.eot');
    src: url('PPTelegraf-Regular.eot?#iefix') format('embedded-opentype'),
        url('PPTelegraf-Regular.woff2') format('woff2'),
        url('PPTelegraf-Regular.woff') format('woff'),
        url('PPTelegraf-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url('PPTelegraf-RegularSlanted.eot');
    src: url('PPTelegraf-RegularSlanted.eot?#iefix') format('embedded-opentype'),
        url('PPTelegraf-RegularSlanted.woff2') format('woff2'),
        url('PPTelegraf-RegularSlanted.woff') format('woff'),
        url('PPTelegraf-RegularSlanted.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url('PPTelegraf-Ultralight.eot');
    src: url('PPTelegraf-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('PPTelegraf-Ultralight.woff2') format('woff2'),
        url('PPTelegraf-Ultralight.woff') format('woff'),
        url('PPTelegraf-Ultralight.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url('PPTelegraf-UltralightSlanted.eot');
    src: url('PPTelegraf-UltralightSlanted.eot?#iefix') format('embedded-opentype'),
        url('PPTelegraf-UltralightSlanted.woff2') format('woff2'),
        url('PPTelegraf-UltralightSlanted.woff') format('woff'),
        url('PPTelegraf-UltralightSlanted.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url('PPTelegraf-Ultrabold.eot');
    src: url('PPTelegraf-Ultrabold.eot?#iefix') format('embedded-opentype'),
        url('PPTelegraf-Ultrabold.woff2') format('woff2'),
        url('PPTelegraf-Ultrabold.woff') format('woff'),
        url('PPTelegraf-Ultrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url('PPTelegraf-UltraboldSlanted.eot');
    src: url('PPTelegraf-UltraboldSlanted.eot?#iefix') format('embedded-opentype'),
        url('PPTelegraf-UltraboldSlanted.woff2') format('woff2'),
        url('PPTelegraf-UltraboldSlanted.woff') format('woff'),
        url('PPTelegraf-UltraboldSlanted.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}