@media (max-width: 999px) {
    .mob-ok {
        display: inherit !important;
    }

    .mob-no {
        display: none !important;
    }

    header.navbar.navbar-stuck {
        height: 103px;
        background: none;
        background-color: unset;
        box-shadow: unset;
        filter: unset;
        backdrop-filter: unset;
    }

    header .navbar-brand {
        left: 34px;
    }

    header .navbar-brand img {
        position: fixed;
        top: 34;
        left: 34;
        z-index: 999999;
        width: 35px;
    }

    section>* {
        padding: 0 40px !important;
    }


    #home {
        margin-bottom: 160px;
    }

    #home .container {
        padding: 0 34px;
    }

    #home .text-content p.lead {
        font-size: 24px;
        line-height: 33px;
    }

    #home .text-content h1 {
        font-size: 40px;
        line-height: 55px;
    }

    #home .text-content p {
        font-size: 16px;
    }

    #home .text-content span {
        display: block;
    }

    #home .bg {
        background-size: 55%;
    }




    #AboutUs {
        margin-bottom: 200px;
    }

    #AboutUs .aboutus-content {
        gap: 100px;
    }

    #AboutUs .aboutus-content>* {
        padding: 0 34px;
    }

    #AboutUs .aboutus-content h1 {
        font-size: 38px;
        line-height: 52px;
    }

    #AboutUs .aboutus-content h3 {
        font-size: 20px;
        line-height: 27px;
    }

    #AboutUs .aboutus-content p {
        font-size: 14px;
    }

    #AboutUs .allcards-content {
        flex-direction: column;
    }














    #brands,
    #TheTeam,
    #KeyInvestments,
    #OurNetwork,
    #Contact {
        display: none;
    }
}