@media (min-width: 2560px) {

    /* preload */
    .page-loading-inner>span {
        font-size: 1rem;
    }

    .page-spinner {
        width: 150px;
        margin-bottom: .75rem;
    }

    /* custom */
    .mb-200 {
        margin-bottom: 200px !important;
    }

    section h1 {
        font-size: 60px;
        line-height: 82px;
    }

    header {
        height: 61px;
        filter: drop-shadow(0px 4px 10px #00000040);
        backdrop-filter: blur(18.0481px);
    }

    header .navbar-brand {
        width: 116.74px;
        left: 72.75px;
    }

    header #navbarNav .offcanvas-body ul {
        gap: 24px;
        height: 40px;
    }

    header #navbarNav .offcanvas-body ul li a {
        font-size: 14px;
        line-height: 17px;
        padding: 10px 20px;
    }

    header #navbarNav .offcanvas-body ul li a:before {
        padding: 1px;
        border-radius: 50px;
    }

    .style-content:before {
        padding: 1.25px;
    }

    .style-fill {
        border-radius: 10px;
        backdrop-filter: blur(15.6961px);
    }

    .style-content:hover .style-fill.style-hover.bs {
        box-shadow: 0 0 22px #f9f9f955;
    }

    .style-bg {
        border-radius: 10px;
    }

    .style-bg:before {
        padding: 1.25px;
        border-radius: 10px;
    }

    .scroll-animate {
        transform: translateY(-20px);
    }


    /* sections */

    /** HOME **/
    #home {
        margin-bottom: 130px;
    }

    #home .text-content {
        gap: 16px;
    }

    #home .text-content h4 {
        font-size: 30px;
        line-height: 41px;
    }

    #home .text-content h1 {
        font-size: 70px;
        line-height: 96px;
    }

    #home .text-content p {
        font-size: 18px;
    }

    #home .text-content a {
        width: 186px;
        height: 40px;
        font-size: 16px;
        margin-top: 25px;
        border-radius: 50px;
    }

    #home .text-content a:hover:before {
        padding: 1px;
        border-radius: 50px;
    }

    #home {
        /* Ajuste de margin-bottom ya declarado arriba */
    }

    #home .bg img {
        /* max-height: 80%; */
    }

    /** ABOUT **/
    #About {
        gap: 64px;
        margin-bottom: 200px;
    }

    #About .bg img {
        max-height: 75vw;
    }

    #About .team-content {
        padding: 18px 50px 50px !important;
        width: 1122px;
        backdrop-filter: blur(15px);
        border-radius: 8.69681px;
    }

    #About .team-content h3 {
        font-size: 26px;
        line-height: 35px;
        margin-top: 14px;
        margin-bottom: 30px;
    }

    #About .team-frame {
        gap: 22px;
        width: 441px;
    }

    #About .team-philosophy {
        max-width: 982px;
        margin-top: 30px;
        padding: 32px;
        backdrop-filter: blur(15px);
    }

    #About .team-philosophy h3 {
        margin-bottom: 10px;
    }

    #About .team-philosophy p {
        font-size: 16px;
    }

    /* Imágenes circulares del equipo */
    #About .style-content:before,
    #About .team-img {
        width: 300px;
        height: 300px;
    }

    #About .team-img:hover:before,
    #About .team-img:active:before {
        width: 300px;
        height: 300px;
    }

    #About .team-img img {
        width: 225px;
        height: 225px;
    }

    #About a:hover .team-img img {
        width: 250px;
        height: 250px;
    }

    #About .team-txt h3 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 0;
    }

    #About .team-txt p {
        font-size: 24px;
        line-height: 33px;
    }

    #About .aboutus-content h3 {
        font-size: 26px;
        line-height: 35px;
    }

    #About .aboutus-content p {
        font-size: 16px;
    }

    /** OUR NETWORK **/
    #OurNetwork {
        margin-bottom: 140px;
    }

    #OurNetwork h1 {
        margin-bottom: 95px;
    }

    .circle-div {
        backdrop-filter: blur(10px);
    }

    .parallax-layer.circle1 .circle-div {
        width: 920px;
        height: 920px;
    }

    .parallax-layer.circle2 .circle-div {
        width: 778px;
        height: 778px;
        left: 71px;
        top: 71px;
    }

    .parallax-layer.circle3 .circle-div {
        width: 636px;
        height: 636px;
        left: 142px;
        top: 142px;
    }

    .parallax-layer.circle4 .circle-div {
        width: 494px;
        height: 494px;
        left: 213px;
        top: 213px;
    }

    .parallax-layer.circle5 .circle-div {
        width: 352px;
        height: 352px;
        left: 284px;
        top: 284px;
    }

    .parallax-layer.circle6 .circle-div {
        width: 210px;
        height: 210px;
        left: 355px;
        top: 355px;
    }

    .parallax-layer.button .iso {
        width: 144px;
        height: 144px;
    }

    .parallax-layer .iso .startup p {
        font-size: 18px;
        line-height: 35px;
    }

    .parallax-layer .iso .startup:hover img {
        filter: blur(25px) drop-shadow(0 0 25px #f9f9f9);
    }

    .base {
        width: 90.4px;
        height: 90.4px;
        border-radius: 8.1571px;
        backdrop-filter: blur(20px);
    }

    /** KEY INVESTMENTS **/
    #KeyInvestments {
        gap: 64px;
        margin-bottom: 200px;
    }

    #KeyInvestments .key-content {
        gap: 19px;
        width: 1127px;
    }

    #KeyInvestments .nav {
        width: 269px;
        gap: 24px;
    }

    #KeyInvestments li.nav-item {
        width: 269px;
        height: 80px;
        border-radius: 10px;
    }

    #KeyInvestments li.nav-item:before {
        width: 269px;
        height: 80px;
        border-radius: 10px;
    }

    #KeyInvestments li.nav-item .nav-link .back-fill {
        width: 269px;
        height: 80px;
    }

    #KeyInvestments .nav-tabs .nav-link {
        backdrop-filter: blur(15px);
        border-radius: 10px;
    }

    #KeyInvestments .nav-tabs .nav-link img {
        max-height: 60px;
    }

    #KeyInvestments .box-shadow-all {
        width: 1127px;
        height: 600px;
    }

    #KeyInvestments .box-shadow-container {
        width: 269px;
        height: 600px;
        gap: 24px;
    }

    #KeyInvestments .box-shadow-container .box-shadow {
        width: 269px;
        height: 80px;
        border-radius: 10px;
        /* box-shadow: 0 0 22px #f9f9f955; */
    }

    #KeyInvestments .tab-content {
        width: 839px;
        height: 600px;
        border-radius: 10px;
        backdrop-filter: blur(15px);
    }

    #KeyInvestments .tab-content>.tab-pane {
        width: 839px;
        height: 600px;
    }

    #KeyInvestments .tab-content>.tab-pane.active {
        width: 839px;
        height: 600px;
        padding: 100px;
    }

    #KeyInvestments .tab-content>.tab-pane .back-fill.style-fill {
        /* box-shadow: 0 0 22px #f9f9f955; */
    }

    #KeyInvestments .tab-content>.tab-pane .back-fill {
        gap: 16px;
    }

    #KeyInvestments .tab-content>.tab-pane .back-fill h3 {
        width: 533px;
        font-size: 40px;
        line-height: 55px;
    }

    #KeyInvestments .tab-content>.tab-pane .back-fill p {
        width: 533px;
        font-size: 16px;
        margin-bottom: 7px;
    }

    #KeyInvestments .tab-content>.tab-pane .back-fill-image {
        background-size: 464px;
        background-position: right -70px bottom -140px;
    }

    /** CO-INVESTORS **/
    #CoInvestors {
        gap: 64px;
        margin-bottom: 200px;
    }

    #CoInvestors .investors-container {
        max-width: 1200px;
        gap: 64px 48px;
    }

    #CoInvestors .style-content,
    #CoInvestors .style-fill {
        border-radius: 19.4px;
    }

    #CoInvestors .investors-container a {
        width: 340.74px;
        height: 129.31px;
        border-radius: 19.4px;
    }

    #CoInvestors .investors-container a:hover {
        width: 350.74px;
        height: 139.31px;
        margin: 0;
    }

    /** CONTACT **/
    #Contact {
        padding: 120px 0 63px;
        gap: 54px;
    }

    #Contact .bg img {
        max-height: 75vw;
        top: 495%;
    }

    #Contact .text-content {
        gap: 16px;
    }

    #Contact .text-content h2 {
        font-size: 40px;
        line-height: 55px;
    }

    #Contact .text-content p {
        font-size: 18px;
    }

    #Contact .swiper-container {
        border-radius: 5px;
        gap: 64px;
        width: 840px;
    }

    #Contact .swiper-container .selector-container {
        gap: 10px;
        width: 498px;
        height: 60px;
        border-radius: 50px;
    }

    #Contact .swiper-container .selector-container:before {
        padding: 1px;
        width: 498px;
        height: 60px;
        border-radius: 50px;
    }

    #Contact .swiper.mySwiper {
        padding: 10px 0 0;
        gap: 64px;
    }

    #Contact .swiper-container .selector-container .selector .go-to-slide {
        width: 235px;
        height: 40px;
        font-size: 16px;
    }

    #Contact .swiper-container .selector-container .selector .highlight {
        height: 40px;
        border-radius: 50px;
    }

    #Contact .swiper-slide {
        font-size: 18px;
    }

    #Contact .swiper-slide form {
        gap: 15px;
    }

    #Contact .swiper-slide form .form-inputs {
        gap: 18px;
    }

    #Contact .swiper-slide form .form-inputs h4 {
        padding-left: 24px;
        font-size: 18px;
    }

    #Contact .swiper-slide form .form-inputs .row-input {
        padding: 0;
        gap: 24px;
        margin-bottom: 14px;
    }

    #Contact .swiper-slide form .form-inputs .column-input {
        gap: 8px;
        width: calc(50% - 12px);
    }

    #Contact .swiper-slide form .form-inputs .column-input.full {
        width: 100%;
    }

    #Contact .swiper-slide form .form-inputs .column-input label {
        height: 21px;
        font-size: 16px;
    }

    #Contact .swiper-slide form .form-inputs .column-input label span {
        font-size: 12px;
    }

    #Contact .swiper-slide form .form-inputs .column-input input,
    #Contact .swiper-slide form .form-inputs .column-input textarea {
        height: 40px;
        padding: 0 14px !important;
        font-size: 14px;
    }

    #Contact .swiper-slide form .form-inputs .column-input textarea {
        height: 80px;
    }

    #Contact .swiper-slide form input[type="submit"] {
        width: 150px;
        height: 40px;
        margin: 22px auto 86px;
        font-size: 16px;
    }

    #Contact .drag-drop-area {
        max-width: 392px;
        height: 80px;
        border-radius: 5px;
        font-size: 14px;
    }

    #Contact #footer img {
        width: 166.73px;
        margin-top: 10px;
    }

    #Contact #footer p {
        font-size: 18px;
    }

    /** revisar **/

    #home .text-content img {
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
    }

    #home .text-content h4 {
        font-size: 16.8px;
        line-height: 32.8px;
    }

    #home .text-content h1 {
        font-size: 50.4px;
        line-height: 130%;
        letter-spacing: .4px;
    }

    #home .elipses .elipse-inside:nth-child(1) {
        width: 496px;
        height: 496px;
    }

    #home .elipses .elipse-inside:nth-child(2) {
        width: 456px;
        height: 456px;
    }

    #home .elipses .elipse-inside:nth-child(3) {
        width: 416px;
        height: 416px;
    }


    /*** revisar otra vez **/

    /** HOME **/

    #home {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* margin-bottom: 104.00px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0%;
    background-image: url('../img/back.png');
    will-change: background-position; */
    }

    #home .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home .text-content {
        color: #f9f9f9;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14.08px;
        /* 12.80px * 1.1 */
    }

    #home .text-content img {
        width: 44px;
        /* 40px * 1.1 */
        height: 44px;
        /* 40px * 1.1 */
        margin-bottom: 11px;
        /* 10px * 1.1 */
    }

    #home .text-content h4 {
        font-family: 'PP Telegraf';
        font-weight: 400;
        font-size: 24.2px;
        /* 22px * 1.1 */
        line-height: 33px;
        /* 30px * 1.1 */
        text-align: center;
        color: #f9f9f9;
    }

    #home .text-content h1 {
        font-weight: 800;
        font-size: 66px;
        /* 60px * 1.1 */
        line-height: 122%;
        text-align: center;
        margin-bottom: 0 !important;
    }

    #home .text-content h1 span {
        display: block !important;
    }

    #home .text-content p {
        font-family: 'Montserrat';
        font-weight: normal;
        font-size: 15.84px;
        /* 14.40px * 1.1 */
        font-weight: 400;
        line-height: 130%;
        color: #f9f9f9;
        margin-bottom: 0 !important;
        display: none !important;
    }

    #home .text-content a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 163.68px;
        /* 148.80px * 1.1 */
        height: 35.2px;
        /* 32.00px * 1.1 */
        font-size: 14.08px;
        /* 12.80px * 1.1 */
        margin-top: 22px;
        /* 20.00px * 1.1 */
        background: #f9f9f9;
        color: #000;
        border-radius: 44px;
        /* 40.00px * 1.1 */
        transition: all .2s ease-in-out;
    }

    #home .text-content a:hover {
        background-color: #1a1a1a;
        color: #f9f9f9;
    }

    #home .text-content a:before {
        transition: all .2s ease-in-out;
    }

    #home .text-content a:hover:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.88px;
        /* 0.80px * 1.1 */
        border-radius: 44px;
        /* 40.00px * 1.1 */
        background: linear-gradient(130deg, #ffe7e7aa -7%, #f9f9f9aa 0%, #22222200 24%, #f9f9f922 65%, #7381ff50 88%, #00074900 111%);
        mask: linear-gradient(#f9f9f9 0 0) content-box, linear-gradient(#f9f9f9 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        z-index: 111;
        transition: all .2s ease-in-out;
    }

    #home .bg {
        position: absolute;
        width: 100%;
        height: 100vh;
        /* display: flex; */
        will-change: transform;
        /* overflow: hidden; */
        z-index: 0;
        opacity: .4;
    }

    #home .elipses {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home .elipses .elipse-inside {
        position: absolute;
        background: linear-gradient(284.59deg,
                #f9f9f907 0%,
                #11111100 100%);
        opacity: 1 !important;
        /* background-color: #222 !important; */
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 8.8px;
        /* 8.00px * 1.1 */
        backdrop-filter: blur(13.82px);
        /* 12.56px * 1.1 ≈ 13.82px */
        transition: all .3s ease-in-out;
        will-change: transform;
    }

    #home .elipses .elipse-inside,
    #home .elipses .elipse-inside::before {
        border-radius: 50%;
    }

    #home .elipses .elipse-inside:nth-child(1) {
        width: 682px;
        /* 620px * 1.1 */
        height: 682px;
        /* 620px * 1.1 */
    }

    #home .elipses .elipse-inside:nth-child(2) {
        width: 627px;
        /* 570px * 1.1 */
        height: 627px;
        /* 570px * 1.1 */
    }

    #home .elipses .elipse-inside:nth-child(3) {
        width: 572px;
        /* 520px * 1.1 */
        height: 572px;
        /* 520px * 1.1 */
    }

    #home .elipses .elipse-inside::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1.1px;
        /* 1.00px * 1.1 */
        background: linear-gradient(130deg, #ffe7e7aa -7%, #f9f9f9aa 0%, #22222200 24%, #f9f9f922 65%, #7381ff50 88%, #00074900 111%);
        mask: linear-gradient(#f9f9f9 0 0) content-box, linear-gradient(#f9f9f9 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        z-index: 2;
    }

    /* #home .bg1 {
    align-items: flex-end;
    justify-content: flex-start;
}

#home .bg2 {
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
} */

    #home .bg img {
        /* max-width: 30vw; */
        will-change: transform;
    }

    #home .bg1 img {
        /* transform: translateY(25%); */
        left: 0;
        top: 11.5%;
    }

    #home .bg2 img {
        transform: scale(-1);
        right: 0;
        top: 12%;
        -webkit-transform: scale(-1);
        -moz-transform: scale(-1);
        -ms-transform: scale(-1);
        -o-transform: scale(-1);
    }

    #home .bg-home {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        z-index: 1;
        align-items: center;
    }

    #home .bg-home img {
        width: 100%;
    }

    /** HOME **/
    #home {
        margin-bottom: 143px;
        /* 130px * 1.1 */
    }

    #home .text-content {
        gap: 13.2px;
        /* 12px * 1.1 */
    }

    #home .text-content>* {
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ea;
        -moz-transition: all .2s ea;
        -ms-transition: all .2s ea;
        -o-transition: all .2s ea;
    }

    #home .text-content h4 {
        font-size: 23.1px;
        /* 21px * 1.1 */
        font-weight: 400;
        margin-bottom: 0;
    }

    #home .text-content h1 {
        font-size: 69.3px;
        /* 63px * 1.1 */
        line-height: 130%;
        letter-spacing: 0.55px;
        /* 0.5px * 1.1 */
    }

    #home .text-content p {
        font-size: 19.8px;
        /* 18px * 1.1 */
    }

    #home .text-content a {
        width: 180.4px;
        /* 164px * 1.1 */
        height: 35.2px;
        /* 32px * 1.1 */
        font-size: 16.5px;
        /* 15px * 1.1 */
        margin-top: 22px;
        /* 20px * 1.1 */
        border-radius: 55px;
        /* 50px * 1.1 */
    }

    #home .text-content a:hover:before {
        padding: 1.1px;
        /* 1px * 1.1 */
        border-radius: 55px;
        /* 50px * 1.1 */
    }

    #home {
        /* Ajuste de margin-bottom ya declarado arriba */
    }

    #home .bg img {
        height: 80%;
    }


}