@media (max-width: 1320px) {
    .parallax-layer.circle1 .circle-div {
        width: 70vw;
        height: 70vw;
    }

    .parallax-layer.circle2 .circle-div {
        width: 59.19vw;
        height: 59.19vw;
    }

    .parallax-layer.circle3 .circle-div {
        width: 48.39vw;
        height: 48.39vw;
    }

    .parallax-layer.circle4 .circle-div {
        width: 37.59vw;
        height: 37.59vw;
    }

    .parallax-layer.circle5 .circle-div {
        width: 26.78vw;
        height: 26.78vw;
    }

    .parallax-layer.circle6 .circle-div {
        width: 15.98vw;
        height: 15.98vw;
    }

    .parallax-layer.button .iso {
        width: 11vw;
        height: 11vw;
    }

    .parallax-layer.brand .base {
        width: 6.85vw;
        height: 6.85vw;
        border-radius: .76vw;
    }

    .parallax-layer.brand .square {
        border-radius: .76vw;
    }
}

@media (max-width: 999px) {

    html,
    body {
        margin: 0;
        padding: 0;
        /* ojo con overflow-x: hidden; aquí, puede generar comportamientos raros en mobile */
        /* overflow-x: hidden;  <-- pruébalo comentado */
    }

    .mob-ok {
        display: inherit !important;
    }

    .mob-no {
        display: none !important;
    }

    section h1 {
        font-size: 38px;
        line-height: 52px;
    }

    header.navbar.navbar-stuck {
        height: 103px;
        background: none;
        background-color: unset;
        box-shadow: unset;
        filter: unset;
        backdrop-filter: unset;
        position: absolute !important
    }

    header .navbar-brand {
        left: 34px;
    }

    header .navbar-brand img {
        /* position: fixed; */
        width: 116.74px;
        height: 34.69px;
    }

    header.navbar.navbar-stuck.bg-white {
        background-color: transparent !important;
    }

    header.navbar.navbar-stuck .iso-b,
    header.navbar.navbar-stuck.bg-white .iso-w {
        opacity: 0;
        transition: all .4s ease-in-out;
    }

    header.navbar.navbar-stuck.bg-white .iso-b {
        opacity: .4;
        transition: all .4s ease-in-out;
    }

    .navbar-brand a {
        position: absolute;
        width: 48.74px;
        left: 31px;
        top: 40px;
    }

    .navbar-toggler {
        box-sizing: border-box;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 52px;
        height: 52px;
        top: 38px;
        background: rgba(17, 17, 17, 0.2);
        border-radius: 5px;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: all .3s ease-in-out;
        position: relative;
        z-index: 1111111;
        background: rgba(17, 17, 17, 0.6);
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
        position: fixed;
        top: 27px;
        right: 22px;
        /* backdrop-filter: blur(10px);
        border: 1px solid #ffffffaa; */
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-sm,
    .navbar>.container-md,
    .navbar>.container-lg,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        justify-content: flex-end !important;
        display: flex;
        padding: 0 22px !important;
        height: 100px;
        width: 100%;
        margin: 0;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        background: none !important;
        width: 32px;
        margin: 0 !important;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;
    }

    /* Menú OFFCANVAS (vertical) */
    header {
        margin-top: 0;
        padding: 0 !important;
        background-color: transparent !important;
    }

    header .container {
        padding: 32px !important;
        justify-content: flex-end;
    }

    header #navbarNav {
        background-color: #111111cc !important;
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 1111111;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transform: translateX(100%);
        display: flex !important;
        flex-direction: column;
        backdrop-filter: blur(5px);
        transition: all .3s ease-in-out;
    }

    header #navbarNav.active {
        transform: translateX(0%);
        z-index: 11111111;
    }

    header #navbarNav ul.navbar-nav {
        top: 0;
        background: unset;
        border: unset;
        height: 100%;
        max-height: 100%;
        padding: 180px 0 0;
        width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        box-shadow: unset;
        border-radius: 0;
        gap: 28px;
        justify-content: flex-start;
    }

    header #navbarNav .offcanvas-body ul li a {
        font-size: 18px;
        padding: 10px 22px;
    }


    header .nav-link:hover,
    header .nav-link:focus,
    header .nav-link.active {
        color: #414141 !important;
        background: none !important;
        pointer-events: all !important;
    }

    .nav-item {
        padding: 0 0 48px !important;
    }

    /* 
    .nav-item:nth-child(4) {
        padding-bottom: 0 !important;
    } */

    #navbarNav a {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: .1px;
        transition: all .3s ease-in-out;
    }

    .navbar-toggler-icon img {
        padding: 0;
        border-radius: 0;
    }

    .nav-highlight {
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
        transform: none;
        min-height: 35px !important;
        transition: all 0.3s ease;
        display: none !important;
    }

    .offcanvas-header {
        width: 100%;
        height: 114px;
        display: flex !important;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 35px !important;
        border: none !important;
        max-width: 100%;
        z-index: 11111111;
    }

    .offcanvas-footer img {
        z-index: 1111111;
        position: absolute;
        width: 60vw;
        right: -40px;
        bottom: -40px;
        opacity: .25;
    }

    .btn-close {
        margin: 0px !important;
        margin: unset;
        width: 26px;
        height: 26px;
        padding: 0 !important;
        opacity: 1 !important;
    }

    .btn-close img {
        margin: 0px !important;
        width: 26px;
        height: 26px;
    }

    .btn-close:hover {
        text-decoration: none;
        opacity: var(--kc-btn-close-hover-opacity);
    }

    .nav-item {
        padding: 0 !important;
    }

    header #navbarNav li a,
    header #navbarNav li a:hover,
    header #navbarNav li a:active,
    header #navbarNav li a:focus {
        font-size: 20px;
        height: 42px;
        color: #fff !important;
    }

    .navbar-expand-lg .offcanvas .offcanvas-body {
        padding: 0;
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    section>* {
        padding: 0 40px !important;
    }


    #home {
        margin-bottom: 110px;
    }

    #home .container {
        padding: 0 34px !important;
    }

    #home .bg {
        /* overflow-x: hidden; */
    }

    #home .bg img {
        max-width: 56vw;
        max-height: unset;
    }

    #home .bg1 img {
        /* transform: translateX(-39%); */
        top: 70%;
    }

    #home .bg2 img {
        /* transform: translateX(30%); */
        top: -11%;
    }

    #home .text-content {
        min-height: 100%;
        justify-content: center;
    }

    #home .text-content p.lead {
        font-size: 24px;
        line-height: 33px;
    }

    #home .text-content h4 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 0;
    }

    #home .text-content h1 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 8px !important;
    }

    #home .text-content p {
        font-size: 16px;
    }

    #home .text-content span {
        display: block;
    }

    #home .text-content a {
        font-size: 14px;
        width: 160px;
    }

    #About {
        gap: 48px;
        margin-bottom: 100px;
    }

    #About .team-content {
        padding: 16px !important;
        gap: 32px;
        width: calc(100% - 44px);
        border-radius: 10px;
        backdrop-filter: blur(10px);
    }

    #About .team-content h3 {
        font-weight: 800;
        font-size: 20px;
        line-height: 27.3px;
        margin-bottom: 0;
    }

    #About .style-content:before,
    #About .team-img {
        width: 250px;
        height: 250px;
    }

    #About .team-img img {
        width: 187.5px;
        height: 187.5px;
    }

    #About .team-staff {
        flex-direction: column;
        justify-content: center;
        z-index: 11;
        padding: 0;
        gap: 64px;
    }

    #About .team-frame {
        gap: 10px;
    }

    #About .team-txt {
        gap: 0;
        margin-bottom: 0;
    }


    #About .team-txt h3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 24.57px;
    }

    #About .team-txt p {
        font-weight: 800;
        font-size: 14px;
        line-height: 19.11px;
    }

    #About .team-philosophy {
        margin-top: 18px;
        padding: 16px;
    }

    #About .team-philosophy h3 {
        font-weight: 800;
        font-size: 20px;
        line-height: 27.3px;
        margin-bottom: 16px;
    }

    #About .team-philosophy p {
        font-weight: 300;
        font-size: 14px;
        line-height: 18.2px;

    }

    #About .bg img {
        max-height: 100%;
    }



    #OurNetwork h1 {
        margin-bottom: 32px;
    }

    #brands {
        margin-bottom: 50px;
        overflow: hidden;
        padding: 30vw 0;
    }

    #brands .circles .parallaxx {
        transform: scale(2);
        margin: 30px 0 80px;
    }


    .parallax-layer .iso .startup p {
        font-size: 24px;
    }


    #OurNetwork {
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 35px;
    }

    #OurNetwork>* {
        /* overflow: hidden; */
    }

    #OurNetwork .container {
        /* overflow: visible; */
        padding-bottom: 40px;
    }

    #OurNetwork .circles {
        /* overflow-x: hidden; */
    }

    .parallax-layer {
        /* overflow-x: hidden; */
    }

    #OurNetwork>* {
        padding: 0 !important;
        overflow: visible;
    }

    .parallax-layer.circle1 .circle-div {
        width: 133.7549799844vw;
        height: 133.7549799844vw;
    }

    .parallax-layer.circle2 .circle-div {
        width: 113.09938950391vw;
        height: 113.09938950391vw;
        top: 10.328173668095vw;
        left: 10.328173668095vw;
    }

    .parallax-layer.circle3 .circle-div {
        width: 92.4629068778vw;
        height: 92.4629068778vw;
        top: 20.656347336190vw;
        left: 20.656347336190vw;
    }

    .parallax-layer.circle4 .circle-div {
        width: 71.8264242516vw;
        height: 71.8264242516vw;
        top: 30.9845210043vw;
        left: 30.9845210043vw;
    }

    .parallax-layer.circle5 .circle-div {
        width: 51.1708337712vw;
        height: 51.1708337712vw;
        top: 41.3126946724vw;
        left: 41.3126946724vw;
    }

    .parallax-layer.circle6 .circle-div {
        width: 30.534351145vw;
        height: 30.534351145vw;
        top: 51.6408683405vw;
        left: 51.6408683405vw;
    }

    .parallax-layer.button .iso {
        width: 21.01863971183vw;
        height: 21.01863971183vw;
    }

    .parallax-layer .base {
        width: 13.08888018418vw;
        height: 13.08888018418vw;
        border-radius: 1.4521969255vw;
    }

    .parallax-layer.brand .square {
        border-radius: 1.4521969255vw;
    }

    #KeyInvestments .bg img {
        max-height: 80vh;
        left: 0;
        top: 67vh;
        opacity: .5;
    }

    #KeyInvestments .mySwiperMob {
        width: 100vw;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 40px 70px;
    }

    #KeyInvestments .mySwiperMob .swiper-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        width: 688px;
        /* height: 500px; */
        left: 0px;
        top: 0px;
        margin-bottom: 0;
        height: 100%;
        min-height: 100%;
    }

    #KeyInvestments .mySwiperMob {
        width: 100vw;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 40px 70px;
        /* transform: translateX(-10px); */
    }

    #KeyInvestments .mySwiperMob .swiper-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        width: 688px;
        /* height: 500px; */
        left: 0px;
        top: 0px;
        margin-bottom: 0;
        height: 100%;
        min-height: 100%;
    }

    .swiper-free-mode>.swiper-wrapper {
        transition-timing-function: ease-out;
        margin: 0;
        left: 0;
        align-items: center;
    }

    .swiper {
        width: 100%;
        display: flex;
        align-items: stretch;
    }

    .swiper-slide {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #KeyInvestments {
        gap: 10px;
        margin-bottom: 100px;
    }

    #KeyInvestments .key-content {
        width: 100vw;
        padding: 0 !important;
    }

    #KeyInvestments .style-content:before {
        border-radius: 10px;
    }

    #KeyInvestments .swiper {
        width: 100vw;
        height: auto;
        max-width: 100vw;
    }

    #KeyInvestments .swiper-container {
        background: unset;
        box-shadow: unset;
        backdrop-filter: unset;
    }

    #KeyInvestments .mySwiperMob {
        width: 100vw;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 40px 0;
        /* transform: translateX(-10px); */
    }

    #KeyInvestments .mySwiperMob .swiper-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        width: 688px;
        left: 0px;
        top: 0px;
        margin-bottom: 0;
        height: 100%;
        min-height: 100%;
    }

    #KeyInvestments .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: calc(100vw - 80px);
        box-shadow: 0px 81px 33px rgba(0, 0, 0, 0.01), 0px 46px 27px rgba(0, 0, 0, 0.03), 0px 20px 20px rgba(0, 0, 0, 0.04), 0px 5px 11px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        overflow: visible;
        padding: 0;
        background: linear-gradient(284.59deg, #ffffff07 0%, #11111100 40%);
        opacity: 1 !important;
        backdrop-filter: blur(10px);
    }

    #KeyInvestments .swiper-slide .card-top {
        width: 100%;
        height: 51px;
        left: 0px;
        top: 0px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(95.75deg, #8427D2 0%, #4061E2 50%, #2EA1F9 100%);
        box-shadow: 0px 35px 14px rgba(0, 0, 0, 0.01), 0px 20px 12px rgba(0, 0, 0, 0.03), 0px 9px 9px rgba(0, 0, 0, 0.04), 0px 2px 5px rgba(0, 0, 0, 0.05);
        border-radius: 10px 10px 0px 0px;
    }

    #KeyInvestments .swiper-slide .card-top {
        background: #FFFFFF;
        box-shadow: 0px 37px 15px rgba(0, 0, 0, 0.01), 0px 21px 13px rgba(0, 0, 0, 0.03), 0px 9px 9px rgba(0, 0, 0, 0.04), 0px 2px 5px rgba(0, 0, 0, 0.05);
    }

    #KeyInvestments .swiper-slide .card-top h4 {
        font-family: 'Satoshi';
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        margin: 0;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    #KeyInvestments .swiper-slide .card-top h4 {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(95.75deg, #8427D2 0%, #4061E2 50%, #2EA1F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    #KeyInvestments .swiper-slide .card-cont {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* gap: 24px; */
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: left;
        justify-content: flex-start;
    }

    #KeyInvestments .swiper-slide .card-cont .card-bg {
        display: flex;
        gap: 24px;
        width: 100%;
        height: 100%;
        padding: 32px 25px 45px;
        flex-direction: column;
    }

    #KeyInvestments .swiper-slide .card-cont .card-bg .card-brand {
        height: 70px;
        padding: 0 7vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #KeyInvestments .swiper-slide .card-cont img {
        /* max-width: 210px;
        height: auto; */
        margin: 0;
    }

    #KeyInvestments .swiper-slide .card-cont p {
        width: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #dadada;
        margin: 0;
    }

    #KeyInvestments .swiper-slide .card-cont p:last-child {
        margin: 0;
    }

    #KeyInvestments .swiper-slide .card-cont .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
    }

    #KeyInvestments .swiper-slide .card-cont .text .subtext {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    #KeyInvestments .swiper-slide .card-cont .text .subtext h5 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 0;
        color: #222222;
    }

    #KeyInvestments .swiper-slide .card-cont .text .subtext p {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        color: #777777;
        margin-bottom: 0;
        line-height: 124%;
        bottom: 35px;
        width: 100%;
        backdrop-filter: blur(5px);
    }

    #KeyInvestments .swiper-slide .card-cont .text .subtext ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        padding-left: 16px;
    }

    #KeyInvestments .swiper-slide .card-cont .text .subtext ul li {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #777777;
        margin-bottom: 14px;
    }

    .swiper-horizontal>.swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        width: 80vw;
        opacity: 0.35;
        margin: 0 auto;
        transform: translateX(7vw);
    }

    #CoInvestors {
        margin-bottom: 100px;
        gap: 34px;
    }

    #CoInvestors h1 {
        font-size: 38px;
        line-height: 52px;
    }

    #CoInvestors .investors-container {
        flex-direction: column;
        padding: 0px;
        gap: 16px;
        max-width: 286px;
    }

    #CoInvestors .style-content {
        width: 286px;
        height: 108.54px;
    }

    #CoInvestors .investors-container a {
        max-width: 286px;
        max-height: 108.54px;
    }

    #Contact {
        padding: 64px 0px;
        gap: 48px;
        width: 100%;
        background-image: unset;
    }

    #Contact .text-content {
        gap: 16px;
        text-align: center;
    }

    #Contact .text-content span {
        display: block;
    }

    #Contact .text-content h2 {
        font-size: 28px;
        line-height: 38px;
    }

    #Contact .text-content p {
        font-size: 16px;
        line-height: 130%;
    }

    #Contact .swiper-container {
        width: 100%;
    }

    #Contact .swiper-slide form {
        gap: 26px;
    }

    #Contact .swiper-container .selector-container {
        width: 314px;
        height: 50px;
    }

    #Contact .swiper-container .selector-container .selector .go-to-slide {
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
    }

    #Contact .swiper-container .selector-container .selector .go-to-slide {
        width: 150px;
        height: 40px;
    }

    #Contact .swiper-container .selector-container:before {
        width: 314px;
        height: 50px;
    }

    #Contact .swiper-slide form .form-inputs h4 {
        font-size: 16px;
        padding-left: 0;
    }

    #Contact .swiper-slide form .form-inputs .column-input label {
        font-size: 14px;
    }

    #Contact .swiper-slide form .form-inputs .column-input {
        width: 100%;
        gap: 5px;
        max-width: 314px;
    }

    #Contact .swiper-slide form .form-inputs .column-input.full {
        width: 100%;
    }

    #Contact .swiper-slide form .form-inputs .row-input {
        gap: 16px;
        margin-bottom: 0;
    }

    #Contact .swiper-slide form input[type="submit"] {
        font-size: 14px;
        font-weight: 500;
        gap: 10px;
        width: 150px;
        height: 40px;
        margin: 10px auto 70px;
    }

    #Contact #footer img {
        width: 116.741px;
    }

    #Contact #footer p {
        font-size: 14px;
    }

    #Contact .drag-drop-area {
        max-width: 100%;
    }

    #Contact .drag-drop-area img {
        position: relative;
        margin-top: 2px;
    }

    #Contact .status-message {
        bottom: 0;
        font-size: 14px;
        text-align: center;
    }


}