@media (max-width: 1320px) {
    .parallax-layer.circle1 .circle-div {
        width: 56.00vw;
        height: 56.00vw;
    }

    .parallax-layer.circle2 .circle-div {
        width: 47.35vw;
        height: 47.35vw;
    }

    .parallax-layer.circle3 .circle-div {
        width: 38.71vw;
        height: 38.71vw;
    }

    .parallax-layer.circle4 .circle-div {
        width: 30.07vw;
        height: 30.07vw;
    }

    .parallax-layer.circle5 .circle-div {
        width: 21.42vw;
        height: 21.42vw;
    }

    .parallax-layer.circle6 .circle-div {
        width: 12.78vw;
        height: 12.78vw;
    }

    .parallax-layer.button .iso {
        width: 8.80vw;
        height: 8.80vw;
    }

    .parallax-layer.brand .base {
        width: 5.48vw;
        height: 5.48vw;
        border-radius: .60.80vw;
    }

    .parallax-layer.brand .square {
        border-radius: .60.80vw;
    }
}

@media (max-width: 999px) {

    html,
    body {
        margin: 0;
        padding: 0;
        /* ojo con overflow-x: hidden; aquí, puede generar comportamientos raros en mobile */
        /* overflow-x: hidden;  <-- pruébalo comentado */
    }

    .mob-ok {
        display: inherit !important;
    }

    .mob-no {
        display: none !important;
    }

    section h1 {
        font-size: 30.40px;
        line-height: 41.60px;
    }

    header.navbar.navbar-stuck {
        height: 82.40px;
        background: none;
        background-color: unset;
        box-shadow: unset;
        filter: unset;
        backdrop-filter: unset;
        position: absolute !important
    }

    header .navbar-brand {
        left: 27.20px;
    }

    header .navbar-brand img {
        /* position: fixed; */
        width: 93.39px;
        height: 27.75px;
    }

    header.navbar.navbar-stuck.bg-white {
        background-color: transparent !important;
    }

    header.navbar.navbar-stuck .iso-b,
    header.navbar.navbar-stuck.bg-white .iso-w {
        opacity: 0;
        transition: all .4s ease-in-out;
    }

    header.navbar.navbar-stuck.bg-white .iso-b {
        opacity: .4;
        transition: all .4s ease-in-out;
    }

    .navbar-brand a {
        position: absolute;
        width: 38.99px;
        left: 24.80px;
        top: 32.00px;
    }

    .navbar-toggler {
        box-sizing: border-box;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8.00px;
        width: 41.60px;
        height: 41.60px;
        top: 30.40px;
        background: rgba(17, 17, 17, 0.2);
        border-radius: 4.00px;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: all .3s ease-in-out;
        position: relative;
        z-index: 1111111;
        background: rgba(17, 17, 17, 0.6);
        box-shadow: 0 0 8.00px 0.00px rgba(0, 0, 0, 0.05);
        position: fixed;
        top: 21.60px;
        right: 17.60px;
        /* backdrop-filter: blur(10px);
        border: 1px solid #ffffffaa; */
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-sm,
    .navbar>.container-md,
    .navbar>.container-lg,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        justify-content: flex-end !important;
        display: flex;
        padding: 0 17.60px !important;
        height: 80.00px;
        width: 100%;
        margin: 0;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        background: none !important;
        width: 25.60px;
        margin: 0 !important;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;
    }

    /* Menú OFFCANVAS (vertical) */
    header {
        margin-top: 0;
        padding: 0 !important;
        background-color: transparent !important;
    }

    header .container {
        padding: 25.60px !important;
        justify-content: flex-end;
    }

    header #navbarNav {
        background-color: #111111cc !important;
        height: 100vh;
        max-height: 100vh;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 1111111;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transform: translateX(100%);
        display: flex !important;
        flex-direction: column;
        backdrop-filter: blur(4.00px);
        transition: all .3s ease-in-out;
    }

    header #navbarNav.active {
        transform: translateX(0%);
        z-index: 11111111;
    }

    header #navbarNav ul.navbar-nav {
        top: 0;
        background: unset;
        border: unset;
        height: 100vh;
        max-height: 100vh;
        padding: 144.00px 0 0;
        width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        box-shadow: unset;
        border-radius: 0;
        gap: 22.40px;
        justify-content: flex-start;
    }

    header #navbarNav .offcanvas-body ul li a {
        font-size: 14.40px;
        padding: 8.00px 17.60px;
    }


    header .nav-link:hover,
    header .nav-link:focus,
    header .nav-link.active {
        color: #414141 !important;
        background: none !important;
        pointer-events: all !important;
    }

    .nav-item {
        padding: 0 0 38.40px !important;
    }

    /* 
    .nav-item:nth-child(4) {
        padding-bottom: 0 !important;
    } */

    #navbarNav a {
        font-size: 19.20px;
        font-weight: 700;
        letter-spacing: .0.80px;
        transition: all .3s ease-in-out;
    }

    .navbar-toggler-icon img {
        padding: 0;
        border-radius: 0;
    }

    .nav-highlight {
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
        transform: none;
        min-height: 28.00px !important;
        transition: all 0.3s ease;
        display: none !important;
    }

    .offcanvas-header {
        width: 100%;
        height: 91.20px;
        display: flex !important;
        justify-content: flex-end;
        align-items: center;
        padding: 0.00px 28.00px !important;
        border: none !important;
        max-width: 100%;
        z-index: 11111111;
    }

    .offcanvas-footer img {
        z-index: 1111111;
        position: absolute;
        width: 48.00vw;
        right: -32.00px;
        bottom: -32.00px;
        opacity: .25;
    }

    .btn-close {
        margin: 0.00px !important;
        margin: unset;
        width: 20.80px;
        height: 20.80px;
        padding: 0 !important;
        opacity: 1 !important;
    }

    .btn-close img {
        margin: 0.00px !important;
        width: 20.80px;
        height: 20.80px;
    }

    .btn-close:hover {
        text-decoration: none;
        opacity: var(--kc-btn-close-hover-opacity);
    }

    .nav-item {
        padding: 0 !important;
    }

    header #navbarNav li a,
    header #navbarNav li a:hover,
    header #navbarNav li a:active,
    header #navbarNav li a:focus {
        font-size: 16.00px;
        height: 33.60px;
        color: #fff !important;
    }

    .navbar-expand-lg .offcanvas .offcanvas-body {
        padding: 0;
        margin: 0;
        max-height: 100vh;
        max-width: 100%;
        overflow: hidden;
    }

    section>* {
        padding: 0 32.00px !important;
    }


    #home {
        margin-bottom: 208.00px;
    }

    #home .container {
        padding: 0 27.20px !important;
    }

    #home .bg {
        /* overflow-x: hidden; */
    }

    #home .bg img {
        max-height: 72.00vw;
    }

    #home .bg1 img {
        /* transform: translateX(-39%); */
        top: 70%;
    }

    #home .bg2 img {
        /* transform: translateX(30%); */
        top: -14%;
    }

    #home .text-content {
        min-height: 100vh;
        justify-content: center;
    }

    #home .text-content p.lead {
        font-size: 19.20px;
        line-height: 26.40px;
    }

    #home .text-content h4 {
        font-size: 19.20px;
        line-height: 26.40px;
        margin-bottom: 0;
    }

    #home .text-content h1 {
        font-size: 32.00px;
        line-height: 38.40px;
        margin-bottom: 6.40px !important;
    }

    #home .text-content p {
        font-size: 12.80px;
    }

    #home .text-content span {
        display: block;
    }

    #home .text-content a {
        font-size: 11.20px;
        width: 128.00px;
    }

    #About {
        gap: 38.40px;
        margin-bottom: 80.00px;
    }

    #About .team-content {
        padding: 12.80px !important;
        gap: 25.60px;
        width: calc(100% - 35.20px);
        border-radius: 8.00px;
        backdrop-filter: blur(8.00px);
    }

    #About .team-content h3 {
        font-weight: 800;
        font-size: 16.00px;
        line-height: 21.84px;
        margin-bottom: 0;
    }

    #About .style-content:before,
    #About .team-img {
        width: 200.00px;
        height: 200.00px;
    }

    #About .team-img img {
        width: 150.00px;
        height: 150.00px;
    }

    #About .team-staff {
        flex-direction: column;
        justify-content: center;
        z-index: 11;
        padding: 0;
        gap: 51.20px;
    }

    #About .team-frame {
        gap: 8.00px;
    }

    #About .team-txt {
        gap: 0;
        margin-bottom: 0;
    }


    #About .team-txt h3 {
        font-weight: 400;
        font-size: 14.40px;
        line-height: 19.66px;
    }

    #About .team-txt p {
        font-weight: 800;
        font-size: 11.20px;
        line-height: 15.29px;
    }

    #About .team-philosophy {
        margin-top: 14.40px;
        padding: 12.80px;
    }

    #About .team-philosophy h3 {
        font-weight: 800;
        font-size: 16.00px;
        line-height: 21.84px;
        margin-bottom: 12.80px;
    }

    #About .team-philosophy p {
        font-weight: 300;
        font-size: 11.20px;
        line-height: 14.56px;

    }

    #About .bg img {
        max-height: 100vh;
    }



    #OurNetwork h1 {
        margin-bottom: 25.60px;
    }

    #brands {
        margin-bottom: 40.00px;
        overflow: hidden;
        padding: 24.00vw 0;
    }

    #brands .circles .parallaxx {
        transform: scale(2);
        margin: 24.00px 0 64.00px;
    }


    .parallax-layer .iso .startup p {
        font-size: 19.20px;
    }


    #OurNetwork {
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 28.00px;
    }

    #OurNetwork>* {
        /* overflow: hidden; */
    }

    #OurNetwork .container {
        /* overflow: visible; */
        padding-bottom: 32.00px;
    }

    #OurNetwork .circles {
        /* overflow-x: hidden; */
    }

    .parallax-layer {
        /* overflow-x: hidden; */
    }

    #OurNetwork>* {
        padding: 0 !important;
        overflow: visible;
    }

    .parallax-layer.circle1 .circle-div {
        width: 107.00vw;
        height: 107.00vw;
    }

    .parallax-layer.circle2 .circle-div {
        width: 90.48vw;
        height: 90.48vw;
        top: 8.26vw;
        left: 8.26vw;
    }

    .parallax-layer.circle3 .circle-div {
        width: 73.97vw;
        height: 73.97vw;
        top: 16.53vw;
        left: 16.53vw;
    }

    .parallax-layer.circle4 .circle-div {
        width: 57.46vw;
        height: 57.46vw;
        top: 24.79vw;
        left: 24.79vw;
    }

    .parallax-layer.circle5 .circle-div {
        width: 40.94vw;
        height: 40.94vw;
        top: 33.05vw;
        left: 33.05vw;
    }

    .parallax-layer.circle6 .circle-div {
        width: 24.43vw;
        height: 24.43vw;
        top: 41.31vw;
        left: 41.31vw;
    }

    .parallax-layer.button .iso {
        width: 16.81vw;
        height: 16.81vw;
    }

    .parallax-layer .base {
        width: 10.47vw;
        height: 10.47vw;
        border-radius: 1.16vw;
    }

    .parallax-layer.brand .square {
        border-radius: 1.16vw;
    }

    #KeyInvestments .bg img {
        max-height: 64.00vh;
        left: 0;
        top: 53.60vh;
        opacity: .5;
    }

    #KeyInvestments .mySwiperMob {
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20.00px 32.00px 56.00px;
    }

    #KeyInvestments .mySwiperMob .swiper-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.00px;
        width: 550.40px;
        /* height: 500px; */
        left: 0.00px;
        top: 0.00px;
        margin-bottom: 0;
        height: 100%;
        min-height: 100%;
    }

    #KeyInvestments .mySwiperMob {
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20.00px 32.00px 56.00px;
        /* transform: translateX(-10px); */
    }

    #KeyInvestments .mySwiperMob .swiper-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.00px;
        width: 550.40px;
        /* height: 500px; */
        left: 0.00px;
        top: 0.00px;
        margin-bottom: 0;
        height: 100%;
        min-height: 100%;
    }

    .swiper-free-mode>.swiper-wrapper {
        transition-timing-function: ease-out;
        margin: 0;
        left: 0;
        align-items: center;
    }

    .swiper {
        width: 100%;
        display: flex;
        align-items: stretch;
    }

    .swiper-slide {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #KeyInvestments {
        gap: 8.00px;
        margin-bottom: 80.00px;
    }

    #KeyInvestments .key-content {
        width: 100%;
        padding: 0 !important;
    }

    #KeyInvestments .style-content:before {
        border-radius: 8.00px;
    }

    #KeyInvestments .swiper {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    #KeyInvestments .swiper-container {
        background: unset;
        box-shadow: unset;
        backdrop-filter: unset;
    }

    #KeyInvestments .mySwiperMob {
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20.00px 32.00px 0;
        /* transform: translateX(-10px); */
    }

    #KeyInvestments .mySwiperMob .swiper-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.00px;
        width: 550.40px;
        left: 0.00px;
        top: 0.00px;
        margin-bottom: 0;
        height: 100%;
        min-height: 100%;
    }

    #KeyInvestments .swiper-slide {
        text-align: center;
        font-size: 14.40px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: calc(100% - 64.00px);
        box-shadow: 0.00px 64.80px 26.40px rgba(0, 0, 0, 0.01), 0.00px 36.80px 21.60px rgba(0, 0, 0, 0.03), 0.00px 16.00px 16.00px rgba(0, 0, 0, 0.04), 0.00px 4.00px 8.80px rgba(0, 0, 0, 0.05);
        border-radius: 8.00px;
        overflow: visible;
        padding: 0;
        background: linear-gradient(284.59deg, #ffffff07 0%, #11111100 40%);
        opacity: 1 !important;
        backdrop-filter: blur(8.00px);
    }

    #KeyInvestments .swiper-slide .card-top {
        width: 100%;
        height: 40.80px;
        left: 0.00px;
        top: 0.00px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(95.75deg, #8427D2 0%, #4061E2 50%, #2EA1F9 100%);
        box-shadow: 0.00px 28.00px 11.20px rgba(0, 0, 0, 0.01), 0.00px 16.00px 9.60px rgba(0, 0, 0, 0.03), 0.00px 7.20px 7.20px rgba(0, 0, 0, 0.04), 0.00px 1.60px 4.00px rgba(0, 0, 0, 0.05);
        border-radius: 8.00px 8.00px 0.00px 0.00px;
    }

    #KeyInvestments .swiper-slide .card-top {
        background: #FFFFFF;
        box-shadow: 0.00px 29.60px 12.00px rgba(0, 0, 0, 0.01), 0.00px 16.80px 10.40px rgba(0, 0, 0, 0.03), 0.00px 7.20px 7.20px rgba(0, 0, 0, 0.04), 0.00px 1.60px 4.00px rgba(0, 0, 0, 0.05);
    }

    #KeyInvestments .swiper-slide .card-top h4 {
        font-family: 'Satoshi';
        font-weight: 700;
        font-size: 12.80px;
        line-height: 130%;
        color: #FFFFFF;
        margin: 0;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    #KeyInvestments .swiper-slide .card-top h4 {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(95.75deg, #8427D2 0%, #4061E2 50%, #2EA1F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    #KeyInvestments .swiper-slide .card-cont {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* gap: 24px; */
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: left;
        justify-content: flex-start;
    }

    #KeyInvestments .swiper-slide .card-cont .card-bg {
        display: flex;
        gap: 19.20px;
        width: 100%;
        height: 100%;
        padding: 25.60px 20.00px 36.00px;
        flex-direction: column;
    }

    #KeyInvestments .swiper-slide .card-cont .card-bg .card-brand {
        height: 56.00px;
        padding: 0 5.60vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #KeyInvestments .swiper-slide .card-cont img {
        /* max-width: 210px;
        height: auto; */
        margin: 0;
    }

    #KeyInvestments .swiper-slide .card-cont p {
        width: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 11.20px;
        line-height: 135%;
        color: #dadada;
        margin: 0;
    }

    #KeyInvestments .swiper-slide .card-cont p:last-child {
        margin: 0;
    }

    #KeyInvestments .swiper-slide .card-cont .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.00px;
        gap: 19.20px;
    }

    #KeyInvestments .swiper-slide .card-cont .text .subtext {
        display: flex;
        flex-direction: column;
        gap: 6.40px;
    }

    #KeyInvestments .swiper-slide .card-cont .text .subtext h5 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 12.80px;
        line-height: 130%;
        margin-bottom: 0;
        color: #222222;
    }

    #KeyInvestments .swiper-slide .card-cont .text .subtext p {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 12.80px;
        line-height: 17.60px;
        text-align: left;
        color: #777777;
        margin-bottom: 0;
        line-height: 124%;
        bottom: 28.00px;
        width: 100%;
        backdrop-filter: blur(4.00px);
    }

    #KeyInvestments .swiper-slide .card-cont .text .subtext ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.00px;
        padding-left: 12.80px;
    }

    #KeyInvestments .swiper-slide .card-cont .text .subtext ul li {
        font-weight: 500;
        font-size: 12.80px;
        line-height: 17.60px;
        color: #777777;
        margin-bottom: 11.20px;
    }

    .swiper-horizontal>.swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        width: 64.00vw;
        opacity: 0.35;
        margin: 0 auto;
        transform: translateX(5.60vw);
    }

    #CoInvestors {
        margin-bottom: 80.00px;
        gap: 27.20px;
    }

    #CoInvestors h1 {
        font-size: 30.40px;
        line-height: 41.60px;
    }

    #CoInvestors .investors-container {
        flex-direction: column;
        padding: 0.00px;
        gap: 12.80px;
        max-width: 228.80px;
    }

    #CoInvestors .style-content {
        width: 228.80px;
        height: 86.83px;
    }

    #CoInvestors .investors-container a {
        max-width: 228.80px;
        max-height: 86.83px;
    }

    #Contact {
        padding: 51.20px 0.00px;
        gap: 38.40px;
        width: 100%;
        background-image: unset;
    }

    #Contact .text-content {
        gap: 12.80px;
        text-align: center;
    }

    #Contact .text-content span {
        display: block;
    }

    #Contact .text-content h2 {
        font-size: 22.40px;
        line-height: 30.40px;
    }

    #Contact .text-content p {
        font-size: 12.80px;
        line-height: 130%;
    }

    #Contact .swiper-container {
        width: 100%;
    }

    #Contact .swiper-slide form {
        gap: 20.80px;
    }

    #Contact .swiper-container .selector-container {
        width: 251.20px;
        height: 40.00px;
    }

    #Contact .swiper-container .selector-container .selector .go-to-slide {
        font-size: 11.20px;
        line-height: 13.60px;
        font-weight: 500;
    }

    #Contact .swiper-container .selector-container .selector .go-to-slide {
        width: 120.00px;
        height: 32.00px;
    }

    #Contact .swiper-container .selector-container:before {
        width: 251.20px;
        height: 40.00px;
    }

    #Contact .swiper-slide form .form-inputs h4 {
        font-size: 12.80px;
        padding-left: 9.60px;
    }

    #Contact .swiper-slide form .form-inputs .column-input label {
        font-size: 11.20px;
    }

    #Contact .swiper-slide form .form-inputs .column-input {
        width: 100%;
        gap: 4.00px;
    }

    #Contact .swiper-slide form .form-inputs .column-input.full {
        width: 100%;
    }

    #Contact .swiper-slide form .form-inputs .row-input {
        gap: 12.80px;
        margin-bottom: 0;
    }

    #Contact .swiper-slide form input[type="submit"] {
        font-size: 11.20px;
        font-weight: 500;
        gap: 8.00px;
        width: 120.00px;
        height: 32.00px;
        margin: 8.00px auto 56.00px;
    }

    #Contact #footer img {
        width: 93.39px;
    }

    #Contact #footer p {
        font-size: 11.20px;
    }

    #Contact .drag-drop-area img {
        position: relative;
        margin-top: 1.60px;
    }

    #Contact .status-message {
        bottom: 0;
        font-size: 11.20px;
        text-align: center;
    }


}