/** HOME **/

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 104.00px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 25%;
    background-image: url('../img/back.png');
    will-change: background-position;
}

#home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .text-content {
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12.80px;
}

#home .text-content h4 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 24.00px;
    line-height: 32.80px;
    text-align: center;
    color: #f9f9f9;
}

#home .text-content h1 {
    font-weight: 800;
    font-size: 56.00px;
    line-height: 76.80px;
    text-align: center;
    margin-bottom: 0 !important;
}

#home .text-content h1 span {
    display: block !important;
}

#home .text-content p {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 14.40px;
    font-weight: 400;
    line-height: 130%;
    color: #f9f9f9;
    margin-bottom: 0 !important;
    display: none !important;
}

#home .text-content a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 148.80px;
    height: 32.00px;
    font-size: 12.80px;
    margin-top: 20.00px;
    background: #f9f9f9;
    color: #000;
    border-radius: 40.00px;
    transition: all .2s ease-in-out;
}

#home .text-content a:hover {
    background-color: #1a1a1a;
    color: #f9f9f9;
}

#home .text-content a:before {
    transition: all .2s ease-in-out;
}

#home .text-content a:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.80px;
    background: linear-gradient(130deg, #dedede 0%, #dedede25 60%, #dedede00 100%);
    border-radius: 40.00px;
    -webkit-mask: linear-gradient(#f9f9f9 0 0) content-box, linear-gradient(#f9f9f9 0 0);
    mask: linear-gradient(#f9f9f9 0 0) content-box, linear-gradient(#f9f9f9 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 111;
    transition: all .2s ease-in-out;
}

#home .bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* display: flex; */
    will-change: transform;
    /* overflow: hidden; */
}

/* #home .bg1 {
    align-items: flex-end;
    justify-content: flex-start;
}

#home .bg2 {
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
} */

#home .bg img {
    max-height: 32.00vw;
    will-change: transform;
}

#home .bg1 img {
    /* transform: translateY(25%); */
    left: 0;
    top: 53%;
}

#home .bg2 img {
    /* transform: translateY(-15%); */
    right: 0;
    top: -9.5%;
}

/** About **/
#About {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 51.20px;
    margin-bottom: 160.00px;
}

#About .bg img {
    max-height: 60.00vw;
    right: 0;
    top: 0;
}

#About .team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14.40px 40.00px 40.00px !important;
    justify-content: center;
    width: 897.60px;
    background: linear-gradient(284.59deg, #f9f9f90d 0%, #11111100 100%);
    backdrop-filter: blur(12.00px);
    border-radius: 6.96px;
}

#About .team-content h3 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 20.80px;
    line-height: 28.00px;
    margin-bottom: 24.00px;
    color: #f9f9f9;
    text-align: center;
}

#About .team-staff {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 11;
}

#About .team-frame {
    gap: 38.40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 352.80px;
    max-width: 100%;
}

#About .team-philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 785.60px;
    width: 100%;
    margin-top: 24.00px;
    padding: 25.60px;
    text-align: center;
    backdrop-filter: blur(12.00px);
    z-index: 12;
}

#About .team-philosophy .style-bg {
    width: 100%;
    height: 100%;
    position: relative;
}

#About .team-philosophy h3 {
    margin-bottom: 9.60px;
}

#About .team-philosophy p {
    font-family: 'Montserrat';
    margin-bottom: 0;
    font-weight: 300;
    font-size: 12.80px;
    line-height: 130%;
}

#About .style-content:before,
#About .team-img {
    position: relative;
    width: 240.00px;
    height: 240.00px;
    border-radius: 50%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#About .team-img .style-fill {
    border-radius: 50%;
}

#About .team-img:hover:before,
#About .team-img:active:before {
    width: 240.00px;
    height: 240.00px;
    border-radius: 50%;
}

#About .team-img img {
    position: absolute;
    width: 180.00px;
    height: 180.00px;
    z-index: 5;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

#About .team-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.00px;
    gap: 4.00px;
    color: #f9f9f9;
    text-align: center !important;
}

#About .team-txt>* {
    font-family: 'PP Telegraf';
    margin: 0;
    text-align: center;
}

#About .team-txt h3 {
    font-weight: 400;
    font-size: 24.00px;
    line-height: 24.00px;
    margin-bottom: 0;
}

#About .team-txt p {
    font-weight: 800;
    font-size: 19.20px;
    line-height: 26.40px;
}

#About .aboutus-content h3 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 20.80px;
    line-height: 28.00px;
    text-align: center;
    margin: 0;
    color: #f9f9f9;
}

#About .aboutus-content p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12.80px;
    line-height: 130%;
    text-align: center;
    margin: 0;
    color: #f9f9f9;
}


/*** OUR NETWORK ***/

#OurNetwork {
    margin-bottom: 128.00px;
    align-items: center;
    flex-direction: column;
}

#OurNetwork h1 {
    margin-bottom: 76.00px;
}

#OurNetwork .container {
    max-width: 100%;
}

#OurNetwork .circles {
    z-index: 1;
    padding: 0 !important
}

.circles .parallaxx {
    z-index: 11;
    pointer-events: unset !important;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.parallax-layer>.circle-div {
    display: block;
    height: auto;
}

.circle-div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(284.59deg,
            #f9f9f907 0%,
            #11111100 100%);
    position: relative;
    backdrop-filter: blur(8.00px);
}

.circle-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: linear-gradient(130deg,
            #f9f9f9f2 0%,
            #22222200 40%, #22222200 60%,
            #f9f9f94d 100%);
    mask:
        radial-gradient(circle,
            transparent 70.2%,
            black 71%);
    -webkit-mask:
        radial-gradient(circle,
            transparent 70.2%,
            black 71%);
    pointer-events: none;
}

/* .parallax-layer.circle1 {
    opacity: 0;
} */

.parallax-layer.circle1 .circle-div {
    width: 736.00px;
    height: 736.00px;
    backdrop-filter: unset;
    background: transparent;
}

.parallax-layer.circle1 .circle-div::before {
    background: transparent;
}

.parallax-layer.circle2 .circle-div {
    width: 622.40px;
    height: 622.40px;
    left: 56.80px;
    top: 56.80px;
}

.parallax-layer.circle3 .circle-div {
    width: 508.80px;
    height: 508.80px;
    left: 113.60px;
    top: 113.60px;
}

.parallax-layer.circle4 .circle-div {
    width: 395.20px;
    height: 395.20px;
    left: 170.40px;
    top: 170.40px;
}

.parallax-layer.circle5 .circle-div {
    width: 281.60px;
    height: 281.60px;
    left: 227.20px;
    top: 227.20px;
}

.parallax-layer.circle6 .circle-div {
    width: 168.00px;
    height: 168.00px;
    left: 284.00px;
    top: 284.00px;
}

.parallax-layer.button .iso {
    width: 115.20px;
    height: 115.20px;
}

.parallax-layer .iso .startup {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-layer .iso .startup>* {
    transition: all .5s ease-in-out;
}

.parallax-layer .iso .startup p {
    position: absolute;
    margin: 0 !important;
    font-family: 'PP Telegraf';
    font-weight: 800;
    font-size: 14.40px;
    line-height: 28.00px;
    text-align: center;
    color: #f9f9f9;
    opacity: 0;
    transform: scale(.9);
}

.parallax-layer .iso .startup:hover p {
    opacity: 1;
    transform: scale(1);
}

.parallax-layer .iso .startup:hover img {
    filter: blur(20.00px) drop-shadow(0 0 20.00px #f9f9f9);
}

.base {
    position: absolute;
    width: 72.32px;
    height: 72.32px;
    left: 0%;
    top: 0%;
    /* background: linear-gradient(284.59deg,
            #f9f9f90f 0%,
            #11111100 100%); */
    backdrop-filter: blur(16.00px);
    border-radius: 6.53px;
    /* display: none !important; */
}

.square {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 6.53px;
    /* background: url(../../assets/img/brands/brand.png); */
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.square.style-bg:before {
    background: linear-gradient(150deg,
            #f9f9f980 0%,
            #22222200 30%,
            #22222200 60%,
            #f9f9f924 100%)
}

.square img {
    max-height: 95%;
    width: 100%;
}

/* */

.content-clock {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Contenedor del reloj */
.clock {
    position: relative;
    margin: 20px;
}

/* Estilo del círculo */
.parallax-layer {
    width: 100%;
    height: 100%;
    /* background-color: #00bef3; */
    /* border-radius: 50%; */
    box-sizing: border-box;
    animation: rotate-clock 111s linear infinite;
}

/* Contenedor para el número */
.number-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: rotate-clock 111s linear infinite;
    /* Aseguramos que la animación esté sincronizada con el círculo */
}

/* Estilo del número */
.number {
    position: absolute;
    /* transform: translate(-50%, -50%); */
    font-size: 19.20px;
    text-align: center;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: counter-rotate 111s linear infinite;
}

/* Animación para rotar el círculo y el contenedor del número */
@keyframes rotate-clock {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Animación para mantener el número en orientación fija */
@keyframes counter-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}


/* Key Investments */
#KeyInvestments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 51.20px;
    margin-bottom: 160.00px;
    transition: all .2s ease-in-out;
}

#KeyInvestments .bg img {
    max-height: 48.00vw;
    left: 0;
    top: 57%;
}

#KeyInvestments .key-content {
    display: flex;
    flex-direction: row;
    gap: 15.20px;
    width: 901.60px;
    transition: all .2s ease-in-out;
}

#KeyInvestments .nav-tabs .nav-link.active,
#KeyInvestments .nav-tabs .nav-item.show .nav-link {
    background-color: unset;
}

#KeyInvestments .style-content:hover .style-fill.style-hover {
    box-shadow: unset !important;
    opacity: 1 !important;
}

#KeyInvestments .nav {
    width: 215.20px;
    margin-bottom: 0;
    gap: 19.20px;
    z-index: 1111;
    transition: all .2s ease-in-out;
}

#KeyInvestments li.nav-item {
    width: 215.20px;
    height: 64.00px;
    margin: 0;
    padding: 0;
    border-radius: 8.00px;
    transition: all .2s ease-in-out;
}

#KeyInvestments li.nav-item:before {
    width: 215.20px;
    height: 64.00px;
    border-radius: 8.00px;
    z-index: 111;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
}

#KeyInvestments li.nav-item .nav-link .back-fill {
    position: absolute;
    width: 215.20px;
    height: 64.00px;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .2s ease-in-out;
}

#KeyInvestments .nav-tabs .nav-link {
    padding: 0;
    background-color: unset !important;
    backdrop-filter: blur(12.00px);
    border-radius: 8.00px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

#KeyInvestments .nav-tabs .nav-link:before {
    background: linear-gradient(160deg, #f9f9f980 0%, #22222200 40%, #22222200 60%, #f9f9f924 100%);
    border-radius: 8.00px;
    transition: all .2s ease-in-out;
}

#KeyInvestments .nav-tabs .nav-link:hover:before {
    background: linear-gradient(160deg, #f9f9f9ff 0%, #22222200 40%, #22222200 60%, #f9f9f980 100%);

}

#KeyInvestments .nav-tabs .nav-link img {
    width: 100%;
    max-height: 48.00px;
    opacity: 0.5;
    z-index: 11;
    transition: all .2s ease-in-out;
}

#KeyInvestments li.nav-item .nav-link.active:before {
    border-radius: 8.00px;
    background: linear-gradient(160deg,
            #f9f9f900 0%,
            #22222200 30%,
            #22222200 60%,
            #f9f9f900 100%);
    transition: all .2s ease-in-out;
}

#KeyInvestments li:hover .nav-link img,
#KeyInvestments li.nav-item .nav-link.active img {
    opacity: 1;
    pointer-events: none;
    transition: all .2s ease-in-out;
}

#KeyInvestments li.nav-item .nav-link.active .back-fill.style-fill,
#KeyInvestments li.nav-item .nav-link.active .back-fill.style-fill.style-hover {
    background-color: rgb(17, 17, 17) !important;
    opacity: 0.3 !important;
    z-index: 2;
    transition: all .2s ease-in-out;
}

#KeyInvestments .box-shadow-all {
    width: 901.60px;
    height: 480.00px;
    position: absolute;
}

#KeyInvestments .box-shadow-container {
    width: 215.20px;
    height: 480.00px;
    position: absolute;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 19.20px;
    z-index: 0;
}

#KeyInvestments .box-shadow-container .box-shadow {
    width: 215.20px;
    height: 64.00px;
    border-radius: 8.00px;
    box-shadow: 0 0 17.60px #f9f9f955;
    opacity: 0;
    transition: all .2s ease-in-out;
}

#KeyInvestments .box-shadow-container .box-shadow.active {
    opacity: 1;
    transition: all .2s ease-in-out;
}

#KeyInvestments .tab-content {
    width: 671.20px;
    height: 480.00px;
    z-index: 111;
    pointer-events: none;
    border-radius: 8.00px;
    backdrop-filter: blur(12.00px);
    transition: all .2s ease-in-out;
}

#KeyInvestments .tab-content .style-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#KeyInvestments .tab-content .style-content:before {
    border-radius: 8.00px;
    background: linear-gradient(130deg,
            #f9f9f900 0%, #22222200 30%,
            #22222200 60%,
            #f9f9f980 100%);
}

#KeyInvestments .tab-content>.tab-pane {
    position: absolute;
    width: 671.20px;
    height: 480.00px;
    transition: all .2s ease-in-out;
}

#KeyInvestments .tab-content>.tab-pane.active {
    width: 671.20px;
    height: 480.00px;
    padding: 80.00px;
}

#KeyInvestments .tab-content>.tab-pane .back-fill.style-fill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(284.59deg,
            #f9f9f90d 0%,
            #11111100 85%);
    box-shadow: 0 0 17.60px #f9f9f955;
    pointer-events: none;
}

#KeyInvestments .tab-content>.tab-pane .back-fill {
    padding: 0.00px;
    gap: 12.80px;
    color: #f9f9f9;
}

#KeyInvestments .tab-content>.tab-pane .back-fill h3 {
    width: 426.40px;
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 32.00px;
    line-height: 44.00px;
    margin-bottom: 0;
    color: #f9f9f9;
}

#KeyInvestments .tab-content>.tab-pane .back-fill p {
    width: 426.40px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12.80px;
    line-height: 135%;
    margin-bottom: 5.60px;
    color: #f9f9f9;
}

#KeyInvestments .tab-content>.tab-pane .back-fill-image {
    background-image: url('../img/iso.svg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: 371.20px;
    background-position: right -56.00px bottom -112.00px;
    opacity: .05;
    z-index: 1;
}

/** CO-INVESTORS **/
#CoInvestors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 51.20px;
    margin-bottom: 160.00px;
    transition: all .2s ease-in-out;
}

#CoInvestors .investors-container {
    max-width: 894.57px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 51.20px 38.40px;
    transition: all .2s ease-in-out;
}

#CoInvestors .style-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #f9f9f9 !important;
    border-radius: 15.52px;
    justify-content: center;
    transition: all .2s ease-in-out;
}


#CoInvestors .style-content img {
    z-index: 1111;
    width: 80%;
    max-height: 65%;
    transition: all .2s ease-in-out;
}

#CoInvestors .style-content:before {
    border-radius: 15.52px;
    z-index: 11111111;
    cursor: pointer;
    background: linear-gradient(160deg,
            #f9f9f980 0%,
            #22222200 33%,
            #22222200 60%,
            #f9f9f924 100%);
    transition: all .2s ease-in-out;
}

#CoInvestors .style-content:hover:before {
    background: linear-gradient(160deg,
            #f9f9f9ed 0%,
            #22222200 33%,
            #22222200 60%,
            #f9f9f980 100%);
}

#CoInvestors .style-content:hover,
#CoInvestors .style-content:active {
    border-radius: 15.52px;
    transition: all .2s ease-in-out;
}

#CoInvestors .investors-container a {
    width: 272.59px;
    height: 103.45px;
    border-radius: 15.52px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

#CoInvestors .style-fill {
    border-radius: 15.52px;
}

/** CONTACT **/
#Contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 96.00px 0 50.40px;
    gap: 43.20px;
    /* background-image: url(../img/contact-bg.png);
    background-repeat: no-repeat;
    background-size: 32vw; */
    /* El 'background-position' inicial puede ser right 25%; 
       JS luego lo cambiará dinámicamente */
    /* background-position: right 25%; */
    background-color: #f9f9f9;
    will-change: background-position;
    transition: .2s ease-in-out;
    /* Para un mejor rendimiento */
    overflow: hidden;

}

/* #Contact.form2 {
    background-position: right 165%;

}

#Contact .go-to-slide.active[data-slide="2"] {
    background: blueviolet;
}
 */


#Contact .bg {
    z-index: 0;
    top: 0;
    overflow: hidden;
}

#Contact .bg img {
    max-height: 60.00vw;
    right: 0;
    top: 515%;
}



#Contact .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.00px;
    gap: 12.80px;
}

#Contact .text-content h2 {
    font-family: 'PP Telegraf';
    font-weight: 400;
    font-size: 32.00px;
    line-height: 44.00px;
    text-align: center;
    color: #222;
    margin: 0;
}

#Contact .text-content p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14.40px;
    line-height: 130%;
    color: #222;
    margin: 0;
}

#Contact .swiper-container {
    margin: 0 auto;
    border-radius: 4.00px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.00px;
    gap: 51.20px;
    width: 608.00px;
    transition: max-width 0.5s ease-in-out;
}

.swiper-autoheight .swiper-wrapper {
    min-height: 229.60px !important;
}

#Contact .swiper-container .selector-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 8.00px;
    width: 398.40px;
    height: 48.00px;
    border-radius: 40.00px;
}

#Contact .swiper-container .selector-container:before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.80px;
    width: 398.40px;
    height: 48.00px;
    font-family: 'Satoshi', sans-serif;
    background: linear-gradient(130deg,
            #222222ff 0%,
            #22222225 60%,
            #22222200 100%);
    border-radius: 40.00px;
    -webkit-mask: linear-gradient(#f9f9f9 0 0) content-box, linear-gradient(#f9f9f9 0 0);
    mask: linear-gradient(#f9f9f9 0 0) content-box, linear-gradient(#f9f9f9 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 0;
}

/* #Contact .swiper {
    width: 100%;
    height: 100%;
} */

#Contact .swiper.mySwiper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.00px 0 0;
    gap: 51.20px;
    width: 100%;
}

#Contact .swiper-container .selector-container .selector {
    position: absolute;
    display: inline-block;
    border-radius: 400.00px;
    margin: 0;
}

#Contact .swiper-container .selector-container .selector .go-to-slide {
    width: 188.00px;
    height: 32.00px;
    text-decoration: none !important;
    color: #222;
    opacity: 0.5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    user-select: none;
    pointer-events: unset;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12.80px;
    transition: all 0.2s ease-in-out;
}

#Contact .swiper-container .selector-container .selector .go-to-slide:hover {
    opacity: 1;
}

#Contact .swiper-container .selector-container .selector .go-to-slide.active {
    color: #f9f9f9;
    opacity: 1;
    pointer-events: none;
}

#Contact .swiper-container .selector-container .selector .highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 32.00px;
    width: 50%;
    background-color: #222;
    border-radius: 40.00px;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 0;
}

#Contact .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14.40px;
    width: 100%;
}

#Contact .swiper-slide {
    padding: 0.00px;
    /* gap: 131px; */
    text-align: left;
}

#Contact .swiper-slide form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 12.00px;
    width: 100%;
}

#Contact .swiper-slide form .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.00px;
    gap: 14.40px;
    width: 100%;
}

#Contact .swiper-slide form .form-inputs h4 {
    padding-left: 19.20px;
    font-family: 'PP Telegraf';
    font-weight: 800;
    font-size: 14.40px;
    line-height: 130%;
    color: #222;
    margin: 0;
}

#Contact .swiper-slide form .form-inputs .row-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    padding: 0 9.60px;
    gap: 19.20px;
    width: 100%;
    margin-bottom: 11.20px;
}

#Contact .swiper-slide form .form-inputs .column-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.00px;
    gap: 6.40px;
    width: calc(50% - 19.20px);
}

#Contact .swiper-slide form .form-inputs .column-input.full {
    width: calc(100% - 19.20px);
}

#Contact .swiper-slide form .form-inputs .column-input label {
    height: 16.80px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12.80px;
    line-height: 130%;
    color: #222;
}

#Contact .swiper-slide form .form-inputs .column-input label span {
    font-size: 9.60px;
}

#Contact .swiper-slide form .form-inputs .column-input input,
#Contact .swiper-slide form .form-inputs .column-input textarea {
    box-sizing: border-box;
    width: 100%;
    height: 32.00px;
    border: 0.80px solid #222;
    border-radius: 4.00px;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 0 11.20px !important;
    font-size: 11.20px;
    background-color: #f9f9f9;
}

#Contact .swiper-slide form .form-inputs .column-input textarea {
    height: 64.00px;
}

#Contact .swiper-slide form .form-inputs .column-input input:focus,
#Contact .swiper-slide form .form-inputs .column-input textarea:focus {
    box-shadow: 0 0 8.80px #22222244;
    border: 1.60px solid #222 !important;
    transition: all .1s ease-in-out;
}

#Contact .swiper-slide form input[type="submit"] {
    width: 120.00px;
    height: 32.00px;
    margin: 17.60px auto 68.80px;
    background: #222;
    border-radius: 40.00px;
    font-family: 'Montserrat';
    font-size: 12.80px;
    color: #f9f9f9;
    border: unset !important;
    cursor: pointer !important;
    transition: all .2s ease-in-out;
}

#Contact .swiper-slide form input[type="submit"]:hover {
    box-shadow: 0 0 17.60px #222222aa;
}

#Contact .drag-drop-area {
    width: 100%;
    max-width: 313.60px;
    height: 64.00px;
    border: none !important;
    border-radius: 8.00px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 11.20px;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 64.00px;
    border-radius: 4.00px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23222' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='7' stroke-linecap='round'/%3e%3c/svg%3e");
    transition: all .2s ease-in-out;
}

#Contact .drag-drop-area:hover {
    box-shadow: 0 0 17.60px #22222233;
}

#Contact .drag-drop-area.drag-over {
    background-color: #222;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23f9f9f9' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='7' stroke-linecap='round'/%3e%3c/svg%3e");
    color: #f9f9f9;
}

#Contact .drag-drop-area p {
    margin: 0 0 0 -19.20px;
    color: #222;
}

#Contact .drag-drop-area img {
    position: absolute;
    margin-left: 6.40px;
    margin-top: 3.20px;
}

#Contact #footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
    gap: 12.80px;
}

#Contact #footer img {
    width: 133.38px;
}

#Contact #footer p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14.40px;
    line-height: 130%;
    color: #222;
    margin: 0;
}

#Contact .status-message {
    position: absolute;
    bottom: 16.00px;
}

/* Ocultar el input de archivo */
#company-deck-input {
    display: none;
}

/* Estilos para el nombre del archivo */
#Contact .file-name {
    margin: 4.00px 0;
    font-size: 11.20px;
    color: #333;
    word-break: break-all;
}




/** HOME **/
#home {
    margin-bottom: 130px;
}

#home .text-content {
    gap: 16px;
}

#home .text-content h4 {
    font-size: 30px;
    line-height: 41px;
}

#home .text-content h1 {
    font-size: 70px;
    line-height: 96px;
}

#home .text-content p {
    font-size: 18px;
}

#home .text-content a {
    width: 186px;
    height: 40px;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 50px;
}

#home .text-content a:hover:before {
    padding: 1px;
    border-radius: 50px;
}

#home {
    /* Ajuste de margin-bottom ya declarado arriba */
}

#home .bg img {
    max-height: 40vw;
}